Workflow automation/Request-ResourceExemption/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Request-ResourceExemption",
            "type": "String"
        },
        "SenderAddress": {
            "type": "string"
        }
    },
    "variables": {
        "o365ConnectionName" : "office365",
        "MSTeamsConnectionName" : "teams",
        "ascassessmentConnectionname" : "ascassessment"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ascassessmentConnectionname')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "Security Center Recommendation",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('o365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('SenderAddress')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MSTeamsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "thjanets@microsoft.com",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ascassessmentConnectionname'))]",
                "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('MSTeamsConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Recommendation_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascassessment']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Assessment/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON')",
                            "actions": {
                                "Set_securityContacts": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "securityContacts",
                                        "value": "@items('For_each')?['properties']?['emails']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_-_Get_securityContacts": {
                            "runAfter": {
                                "Initialize_subId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions/@{variables('subID')}/providers/Microsoft.Security/securityContacts?api-version=2020-01-01-preview"
                            }
                        },
                        "Initialize_securityContacts": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "securityContacts",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_subId": {
                            "runAfter": {
                                "Initialize_securityContacts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subId",
                                        "type": "string",
                                        "value": "@{substring(triggerBody()?['id'],15,36)}"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP_-_Get_securityContacts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_-_Get_securityContacts')",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "etag": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "location": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "properties": {
                                                    "alertNotifications": {
                                                        "properties": {
                                                            "minimalSeverity": {
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "emails": {
                                                        "type": "string"
                                                    },
                                                    "notificationsByRole": {
                                                        "properties": {
                                                            "roles": {
                                                                "type": "array"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "phone": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "properties",
                                            "id",
                                            "name",
                                            "type",
                                            "etag",
                                            "location"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Post_a_message_as_the_Flow_bot_to_a_user": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "messageBody": "Please create a resource exemption in ASC!\nResource: @{triggerBody()?['properties']?['resourceDetails']?['id']}\nRecommendation: @{triggerBody()?['properties']?['displayName']}\n@{triggerBody()?['properties']?['links']?['azurePortalUri']}",
                                    "messageTitle": "Please create ASC resource exemption",
                                    "recipient": {
                                        "to": "@variables('securityContacts')"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/flowbot/actions/notification/recipienttypes/user"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p><span style=\"font-size: 16px\"><strong>Please create a resource exemption in Azure Security Center.</strong></span><br>\n<br>\n<strong>Resource:</strong> @{triggerBody()?['properties']?['resourceDetails']?['id']}<br>\n<br>\n<strong>Recommendation:</strong> @{triggerBody()?['properties']?['displayName']}<br>\n<br>\nPlease navigate to @{triggerBody()?['properties']?['links']?['azurePortalUri']} to directly view the recommendation.<br>\n<br>\n<br>\n<span style=\"font-size: 16px\"><strong>Powered by Azure Security Center Logic Apps alert connector</strong></span></p>",
                                    "Subject": "Azure Security Center | Exemption request for resource @{triggerBody()?['properties']?['resourceDetails']?['id']}",
                                    "To": "@variables('securityContacts')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascassessment": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ascassessmentConnectionname'))]",
                                "connectionName": "[variables('ascassessmentConnectionname')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', variables('ascassessmentConnectionname'))]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]",
                                "connectionName": "[variables('o365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', variables('o365ConnectionName'))]"
                            },
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MSTeamsConnectionName'))]",
                                "connectionName": "[variables('MSTeamsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/',variables('MSTeamsConnectionName'))]"
                            }
                        }
                    }
                }
            }
        }
    ]
}