Workflow automation/Defender for API/Backend-nobypass-certificate/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Backend-nobypass-certificate",
            "type":  "string"
        }
    },
    "variables":  {
        "AscassessmentConnectionName":  "[concat('Ascassessment-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                
                
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "When_a_Microsoft_Defender_for_Cloud_recommendation_is_created_or_triggered":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['ascassessment']['connectionId']"
                                    }
                                },
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "path":  "/Microsoft.Security/Assessment/subscribe"
                            }
                        }
                    },
                    "actions":  {
                        "Get_Backend_Settings":  {
                            "runAfter":  {
                            },
                            "trackedProperties":  {
                                "resourceId":  "resourceId"
                            },
                            "type":  "Http",
                            "inputs":  {
                                "uri":  "https://management.azure.com@{triggerBody()?['properties']?['resourceDetails']?['id']}?api-version=2022-08-01",
                                "method":  "GET",
                                "authentication":  {
                                    "type":  "ManagedServiceIdentity",
                                    "audience":  ""
                                }
                            }
                        },
                        "Parse_JSON_-_Backend_Settings":  {
                            "runAfter":  {
                                "Get_Backend_Settings":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Get_Backend_Settings')",
                                "schema":  {
                                    "type":  "object",
                                    "properties":  {
                                        "id":  {
                                            "type":  "string"
                                        },
                                        "type":  {
                                            "type":  "string"
                                        },
                                        "name":  {
                                            "type":  "string"
                                        },
                                        "properties":  {
                                            "type":  "object",
                                            "properties":  {
                                                "title":  {
                                                },
                                                "url":  {
                                                    "type":  "string"
                                                },
                                                "protocol":  {
                                                    "type":  "string"
                                                },
                                                "resourceId":  {
                                                    "type":  "string"
                                                },
                                                "credentials":  {
                                                    "type":  "object",
                                                    "properties":  {
                                                        "query":  {
                                                            "type":  "object",
                                                            "properties":  {
                                                            }
                                                        },
                                                        "header":  {
                                                            "type":  "object",
                                                            "properties":  {
                                                            }
                                                        }
                                                    }
                                                },
                                                "tls":  {
                                                    "type":  "object",
                                                    "properties":  {
                                                        "validateCertificateChain":  {
                                                            "type":  "boolean"
                                                        },
                                                        "validateCertificateName":  {
                                                            "type":  "boolean"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Validate_certificate_chain_and_certificate_name":  {
                            "runAfter":  {
                                "Parse_JSON_-_Backend_Settings":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Http",
                            "inputs":  {
                                "uri":  "https://management.azure.com@{body('Parse_JSON_-_Backend_Settings')?['id']}?api-version=2022-08-01",
                                "method":  "PATCH",
                                "body":  {
                                    "properties":  {
                                        "tls":  {
                                            "validateCertificateChain":  true,
                                            "validateCertificateName":  true
                                        }
                                    }
                                },
                                "authentication":  {
                                    "type":  "ManagedServiceIdentity"
                                }
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "ascassessment":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AscassessmentConnectionName'))]",
                                "connectionName":  "[variables('AscassessmentConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Ascassessment')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
          
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AscassessmentConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AscassessmentConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AscassessmentConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Ascassessment')]"
                }
            }
        }
    ]
}
