Remediation scripts/TLS should be updated to the latest version for function apps/Logic App/mdc-logicapp-LatestTLS-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflowName": {
            "type": "String"
        },
        "connectionNamePrefix": {
            "defaultValue": "ascassessment",
            "type": "String"
        },
        "connectionLocation": {
            "type": "string",
            "allowedValues": [
                "northcentralus",
                "Central US",
                "southcentralus",
                "northeurope",
                "westeurope",
                "eastasia",
                "southeastasia",
                "westus",
                "eastus",
                "eastus2",
                "japanwest",
                "japaneast",
                "brazilsouth",
                "australiaeast",
                "brazilsoutheast",
                "australiasoutheast",
                "southindia",
                "centralindia",
                "westindia",
                "westus2",
                "westus3",
                "jioindiawest",
                "westcentralus",
                "canadacentral",
                "canadaeast",
                "uksouth",
                "ukwest",
                "francecentral",
                "francesouth",
                "koreacentral",
                "koreasouth",
                "southafricawest",
                "southafricanorth",
                "uaecentral",
                "uaenorth",
                "switzerlandnorth",
                "switzerlandwest",
                "norwayeast",
                "norwaywest",
                "germanynorth",
                "germanywestcentral"
            ]
        },
        "azureRestAPiVersion": {
            "type": "string",
            "defaultValue": "api-version=2021-02-01"

        }
    },
    "variables": {
        "connectionName": "[concat(parameters('connectionNamePrefix'),parameters('connectionLocation'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connectionName')]",
            "location": "[parameters('connectionLocation')]",
            "kind": "V1",
            "properties": {
                "displayName": "Microsoft Defender for Cloud Recommendation",
                "api": {
                    "name": "[variables('connectionName')]",
                    "displayName": "Microsoft Defender for Cloud Recommendation",
                    "description": "Microsoft Defender for Cloud is a unified infrastructure security management system that strengthens the security posture of your data centers, and provides advanced threat protection across your hybrid workloads in the cloud - whether they're in Azure or not - as well as on premises",
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('connectionLocation'), 'ascassessment')]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflowName')]",
            "location": "[parameters('connectionLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections',variables('connectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "apiversion": {
                            "defaultValue": "[parameters('azureRestAPiVersion')]",
                            "type": "String"
                        },
                        "recomendationName": {
                            "defaultValue": "TLS should be updated to the latest version for function apps",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Recommendation_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascassessment']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Assessment/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Condition_resource_is_in_Azure": {
                            "actions": {
                                "Condition_match_recommendation_name": {
                                    "actions": {

                                        "HTTP_Set_Minimum_TLS_version_1.2": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body":{
                                                    "properties": {
                                                        "siteConfig": {
                                                            "minTlsVersion": "1.2"
                                                        }
                                                    }
                                                },
                                                "method": "PATCH",
                                                "uri": "https://management.azure.com/@{triggerBody()?['properties']?['resourceDetails']?['id']}?@{parameters('apiversion')}"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Terminate_wrong_recommendation": {
                                                "runAfter": {},
                                                "type": "Terminate",
                                                "inputs": {
                                                    "runError": {
                                                        "message": "Recomendation  @{triggerBody()?['properties']?['displayName']} does not match with remediation steps. Please select correct remediation"
                                                    },
                                                    "runStatus": "Failed"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                           {
                                                "equals": [
                                                    "@triggerBody()?['properties']?['displayName']",
                                                    "@parameters('recomendationName')"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Terminate_wrong_cloud": {
                                        "runAfter": {},
                                        "type": "Terminate",
                                        "inputs": {
                                            "runError": {
                                                "message": "This function is designed to remediate resources in @{triggerBody()?['properties']?['resourceDetails']?['source']}. Please select appropriate remediation process for other clouds"
                                            },
                                            "runStatus": "Failed"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['properties']?['resourceDetails']?['source']",
                                            "Azure"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascassessment": {

                                "connectionId": "[resourceId('Microsoft.Web/connections',variables('connectionName'))]",
                                "connectionName": "[variables('connectionName')]",
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('connectionLocation'), 'ascassessment')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}