Remediation scripts/Install monitoring agent on your machines/Logic App/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Install_Monitoring_Agent_name": {
            "defaultValue": "Install_Monitoring_Agent",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Install_Monitoring_Agent_name')]",
            "location": "eastus2",
            "identity": {
                "principalId": "",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Authenticate-Azure": {
                            "runAfter": {
                                "WorkspaceKey": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Parse-Subscription')?['value']",
                            "actions": {
                                "Get-VMs": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/resourceGroups/@{variables('Resource-Group')}/providers/Microsoft.Compute/virtualMachines/@{variables('VMname')}?api-version=2018-06-01"
                                    }
                                },
                                "Install-MMA-Extension": {
                                    "runAfter": {
                                        "Get-VMs": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "location": "@{body('Get-VMs')?['location']}",
                                            "properties": {
                                                "protectedSettings": {
                                                    "workspaceKey": "@{variables('WorkspaceKey')}"
                                                },
                                                "publisher": "Microsoft.EnterpriseCloud.Monitoring",
                                                "settings": {
                                                    "workspaceId": "@{variables('WorkspaceID')}"
                                                },
                                                "type": "MicrosoftMonitoringAgent",
                                                "typeHandlerVersion": "1.0"
                                            }
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/resourceGroups/@{variables('Resource-Group')}/providers/Microsoft.Compute/virtualMachines/@{variables('VMname')}/extensions/MicrosoftMonitoringAgent?api-version=2018-06-01"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse-Subscription": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Parse-Subscription": {
                            "runAfter": {
                                "Authenticate-Azure": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Authenticate-Azure')",
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "authorizationSource": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionPolicies": {
                                                        "properties": {
                                                            "locationPlacementId": {
                                                                "type": "string"
                                                            },
                                                            "quotaId": {
                                                                "type": "string"
                                                            },
                                                            "spendingLimit": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "subscriptionId",
                                                    "displayName",
                                                    "state",
                                                    "subscriptionPolicies",
                                                    "authorizationSource"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Resource-Group-Name-Variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Resource-Group",
                                        "type": "String",
                                        "value": ""
                                    }
                                ]
                            }
                        },
                        "VM-Name": {
                            "runAfter": {
                                "Resource-Group-Name-Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "VMname",
                                        "type": "String",
                                        "value": ""
                                    }
                                ]
                            }
                        },
                        "WorkspaceID": {
                            "runAfter": {
                                "VM-Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WorkspaceID",
                                        "type": "String",
                                        "value": ""
                                    }
                                ]
                            }
                        },
                        "WorkspaceKey": {
                            "runAfter": {
                                "WorkspaceID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WorkspaceKey",
                                        "type": "String",
                                        "value": ""
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}