Secure Score/Provision an Azure AD Administrator on SQL Server/Logic Apps/azuredeploy.json
{
    "$connections": {
        "value": {
            "azuread": {
                "connectionId": "/subscriptions/44e4eff8-1fcb-4a22-a7d6-992ac7286382/resourceGroups/CxE-Tiander/providers/Microsoft.Web/connections/azuread",
                "connectionName": "azuread",
                "id": "/subscriptions/44e4eff8-1fcb-4a22-a7d6-992ac7286382/providers/Microsoft.Web/locations/westeurope/managedApis/azuread"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Set_AzureAD_SQL_Server_Admin": {
                        "inputs": {
                            "authentication": {
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "id": "/subscriptions/@{items('For_each')?['subscriptionId']}/resourceGroups//providers/Microsoft.Sql/servers/@{variables('SqlServerName')}/@{variables('ADadminAccountUPN')}/activeDirectory",
                                "name": "activeDirectory",
                                "properties": {
                                    "administratorType": "ActiveDirectory",
                                    "login": "@{body('Get_user')?['userPrincipalName']}",
                                    "sid": "@{body('Get_user')?['id']}",
                                    "tenantId": "@{variables('ADTenantId')}"
                                }
                            },
                            "method": "PUT",
                            "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/resourceGroups/@{variables('SqlResourceGroupName')}/providers/Microsoft.Sql/servers/@{variables('SqlServerName')}/administrators/activeDirectory?api-version=2014-04-01"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "foreach": "@body('Parse_Azure_subscription')?['value']",
                "runAfter": {
                    "Get_user": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_Azure_subscription": {
                "inputs": {
                    "authentication": {
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                },
                "runAfter": {
                    "Initialize_variable_ADadminAccountUPN": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Get_user": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuread']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v1.0/users/@{encodeURIComponent(variables('ADadminAccountUPN'))}"
                },
                "runAfter": {
                    "Parse_Azure_subscription": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Initialize_variable_ADTenantId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ADTenantId",
                            "type": "String",
                            "value": "4b2462a4-bbee-495a-a0e1-f23ae524cc9c"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_ADadminAccountUPN": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ADadminAccountUPN",
                            "type": "String",
                            "value": "TianderSPN@seccxpninja.onmicrosoft.com"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_SqlResourceGroupName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_SqlResourceGroupName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SqlResourceGroupName",
                            "type": "String",
                            "value": "cxe-tiander"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_SqlServerName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_SqlServerName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SqlServerName",
                            "type": "String",
                            "value": "tiander-sql2"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_ADTenantId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_Azure_subscription": {
                "inputs": {
                    "content": "@body('Get_Azure_subscription')",
                    "schema": {
                        "properties": {
                            "value": {
                                "items": {
                                    "properties": {
                                        "authorizationSource": {
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "subscriptionId": {
                                            "type": "string"
                                        },
                                        "subscriptionPolicies": {
                                            "properties": {
                                                "locationPlacementId": {
                                                    "type": "string"
                                                },
                                                "quotaId": {
                                                    "type": "string"
                                                },
                                                "spendingLimit": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "subscriptionId",
                                        "displayName",
                                        "state",
                                        "subscriptionPolicies",
                                        "authorizationSource"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_Azure_subscription": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    }
}