Workflow automation/Send-WeeklyComplianceReport/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "apiConnectionName": {
            "defaultValue": "office365",
            "type": "string"
        },
        "workflowName": {
            "defaultValue": "GetComplianceState",
            "type": "string"
        },
        "senderAddress": {
            "type": "string"
        },
        "recipientAddress": {
            "type": "string"
        }
    },
    "variables": {
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('apiConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('senderAddress')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId ,'/providers/Microsoft.Web/locations/', resourceGroup().location ,'/managedApis/', parameters('apiConnectionName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflowName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('apiConnectionName'))]"
            ],
            "identity": {
                "principalId": "",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON')?['value']",
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@body('Parse_JSON_3')?['value']",
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "Append_to_emailBody_variable": {
                                                    "runAfter": {
                                                        "Parse_JSON_4": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "emailBody",
                                                        "value": "<!DOCTYPE html>\n<html>\n<style>\n\t.notification-table-header {\n\t\twidth: auto;\n\t\tborder-top: none;\n\t\tbackground: #0078D4;\n\t\tfont-size: 11.0pt;\n\t\tcolor: white;\n\t\tfont-weight: bold;\n\t\tmargin-left: 10px;\n\t\ttext-align: left;\n\t\tborder: none;\n\t\tborder-bottom: solid white 1.5pt;\n\t}\n\n\t.notification-table-text {\n\t\tmargin-left: 5px;\n\t\twidth: 70%;\n\t\ttext-align: left;\n\t\tborder: none;\n\t\tborder-bottom: solid white 1.5pt;\n\t\tbackground: #FAFAFA;\n\t\tfont-size: 12.0pt;\n\t\theight: 20.05pt;\n\t}\n\n\t.notification-card-footer span {\n\t\tfont-size: 12.0pt;\n\t\tcolor: #000000;\n\t}\n\n\t.notification-card-footer p {\n\t\tvertical-align: baseline;\n\t}\n\n\t.notification-body {\n\t\tmargin: 0 auto;\n\t\ttext-align: center;\n\t\twidth: 650px;\n\t\tborder: 1px black;\n\t\tborder-collapse: collapse;\n\t\tbackground-color: #CCE4F6;\n\t}\n</style>\n\n<body style=\"background-color: #dfdfdf;\">\n\t<table style=\"width:100%;\">\n\t\t<tr>\n\t\t\t<td style=\"padding:0;\">\n\t\t\t\t<div align=\"center\">\n\t\t\t\t\t<table class=\"notification-body\">\n\t\t\t\t\t\t<tr style=\"border: 1px grey; border-top:none;\">\n\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t<p style='font-size:5.0pt;'>\n\t\t\t\t\t\t\t\t\t<span>&nbsp;</span>\n\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t<table style='width:590px;margin:0 auto;border-collapse:collapse;'>\n\t\t\t\t\t\t\t\t\t<tr class=\"notification-card-footer\">\n\t\t\t\t\t\t\t\t\t\t<td colspan=\"2\">\n\t\t\t\t\t\t\t\t\t\t\t</br>\t\t\t\t\t\t\t\t\t\t\t<p style='text-align:left; font-size:12.0pt;'><b>Weekly compliance report for subscription @{items('For_each')?['subscriptionId']}.</b></p>\n\t\t\t\t\t\t\t\t\t\t\t<p style='text-align:left; font-size:12.0pt;'>Details: </p>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-header\">\n\t\t\t\t\t\t\t\t\t\t\t<span>&nbsp; Subscription Name</span>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-text\">@{items('For_each')?['displayName']}</td>\n\t\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-header\">\n\t\t\t\t\t\t\t\t\t\t\t<span>&nbsp; Subscription ID</span>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-text\">@{items('For_each')?['subscriptionId']}</td>\n\t\t\t\t\t\t\t\t\t</tr>\n<tr class=\"notification-card-footer\">\n\t\t\t\t\t\t\t\t\t\t<td colspan=\"2\"> \n\t\t\t\t\t\t\t\t\t\t\t<p style='text-indent:36.0pt;'>\n\t\t\t\t\t\t\t\t\t\t\t\t<span style='font-size:10.0pt;'>&nbsp;</span>\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t</tr>"
                                                    }
                                                },
                                                "Append_to_emailBody_variable_3": {
                                                    "runAfter": {
                                                        "For_each_4": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "emailBody",
                                                        "value": "<tr class=\"notification-card-footer\">\n\t\t\t\t\t\t\t\t\t\t<td colspan=\"2\">\n\t\t\t\t\t\t\t\t\t\t\t<p style='text-indent:36.0pt;'>\n\t\t\t\t\t\t\t\t\t\t\t\t<span style='font-size:0.0pt;'>&nbsp;</span>\n\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t\t\t\t<p style='text-align:center;'>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span style='font-size:12.0pt;'>To learn more about your environment's current regulatory compliance status, please click <a href=\"https://portal.azure.com/#blade/Microsoft_Azure_Security/SecurityMenuBlade/22\">here</a>.</span><br>\n\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t</table>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</table>\n\t\t\t\t</div>\n\t\t\t</td>\n\t\t</tr>\n\t</table>\n</body>\n</html>"
                                                    }
                                                },
                                                "For_each_4": {
                                                    "foreach": "@body('Parse_JSON_4')?['value']",
                                                    "actions": {
                                                        "Append_to_emailBody_variable_2": {
                                                            "runAfter": {},
                                                            "type": "AppendToStringVariable",
                                                            "inputs": {
                                                                "name": "emailBody",
                                                                "value": "<tr>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-header\">\n\t\t\t\t\t\t\t\t\t\t\t<span>&nbsp; Assessment type</span>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-text\">@{items('For_each_4')?['name']}</td>\n\t\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-header\">\n\t\t\t\t\t\t\t\t\t\t\t<span>&nbsp; Passed controls</span>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-text\">@{items('For_each_4')?['properties']?['passedControls']}</td>\n\t\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-header\">\n\t\t\t\t\t\t\t\t\t\t\t<span>&nbsp; Failed controls</span>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-text\">@{items('For_each_4')?['properties']?['failedControls']}</td>\n\t\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-header\">\n\t\t\t\t\t\t\t\t\t\t\t<span>&nbsp; Skipped controls</span>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t\t<td class=\"notification-table-text\">@{items('For_each_4')?['properties']?['skippedControls']}</td>\n\t\t\t\t\t\t\t\t\t</tr>\n<tr class=\"notification-card-footer\">\n\t\t\t\t\t\t\t\t\t\t<td colspan=\"2\"> \n\t\t\t\t\t\t\t\t\t\t\t<p style='text-indent:36.0pt;'>\n\t\t\t\t\t\t\t\t\t\t\t\t<span style='font-size:10.0pt;'>&nbsp;</span>\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t</tr>"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Append_to_emailBody_variable": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "GetComplianceState": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/providers/microsoft.security/regulatorycompliancestandards?api-version=2019-01-01"
                                                    }
                                                },
                                                "Parse_JSON_4": {
                                                    "runAfter": {
                                                        "GetComplianceState": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "[concat('@body(''', parameters('workflowName'), ''')')]",
                                                        "schema": {
                                                            "properties": {
                                                                "value": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "failedControls": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "passedControls": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "skippedControls": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "state": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "unsupportedControls": {
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "name",
                                                                            "type",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Send_an_email_(V2)": {
                                                    "runAfter": {
                                                        "Append_to_emailBody_variable_3": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Body": "<p>@{variables('emailBody')}</p>",
                                                            "Subject": "Weekly compliance report",
                                                            "To": "[parameters('recipientAddress')]"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/Mail"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@body('Parse_JSON_2')?['registrationState']",
                                                            "Registered"
                                                        ]
                                                    },
                                                    {
                                                        "equals": [
                                                            "@items('For_each_2')?['properties']?['pricingTier']",
                                                            "Standard"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "GetASCPricingTier": {
                                    "runAfter": {
                                        "Parse_JSON_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/providers/Microsoft.Security/pricings?api-version=2018-06-01"
                                    }
                                },
                                "GetSecurityInfo": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/providers/Microsoft.Security?api-version=2019-10-01"
                                    }
                                },
                                "Parse_JSON_2": {
                                    "runAfter": {
                                        "GetSecurityInfo": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('GetSecurityInfo')",
                                        "schema": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "namespace": {
                                                    "type": "string"
                                                },
                                                "registrationPolicy": {
                                                    "type": "string"
                                                },
                                                "registrationState": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Parse_JSON_3": {
                                    "runAfter": {
                                        "GetASCPricingTier": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('GetASCPricingTier')",
                                        "schema": {
                                            "properties": {
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "freeTrialRemainingTime": {
                                                                        "type": "string"
                                                                    },
                                                                    "pricingTier": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "type",
                                                            "properties"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "GetSubscriptions": {
                            "runAfter": {
                                "Initialize_emailBody_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions?api-version=2020-01-01"
                            }
                        },
                        "Initialize_emailBody_variable": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "emailBody",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "eop",
                                        "type": "boolean"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "GetSubscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GetSubscriptions')",
                                "schema": {
                                    "properties": {
                                        "count": {
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "authorizationSource": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "managedByTenants": {
                                                        "items": {
                                                            "properties": {
                                                                "tenantId": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "tenantId"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "state": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionPolicies": {
                                                        "properties": {
                                                            "locationPlacementId": {
                                                                "type": "string"
                                                            },
                                                            "quotaId": {
                                                                "type": "string"
                                                            },
                                                            "spendingLimit": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "tenantId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "authorizationSource",
                                                    "managedByTenants",
                                                    "subscriptionId",
                                                    "tenantId",
                                                    "displayName",
                                                    "state",
                                                    "subscriptionPolicies"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('apiConnectionName'))]",
                                "connectionName": "[parameters('apiConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId ,'/providers/Microsoft.Web/locations/', resourceGroup().location ,'/managedApis/', parameters('apiConnectionName'))]"
                            }
                        }
                    }
                }
            }
        }
    ]
}