Workflow automation/Configure-MDE/Source/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "Configure-MDE",
            "metadata": {
                "description": "Set the Logic App name"
            }
        },
        "storageAccountName": {
            "type": "string",
            "metadata": {
                "description": "Specifies the name of the Azure Storage account."
            }
        },
        "blobContainerName": {
            "type": "string",
            "defaultValue": "scripts",
            "metadata": {
                "description": "Specifies the name of the blob container."
            }
        }
    },
    "variables": {
        "ascAssessmentConnectionName": "[concat('ASC-Assessment-', parameters('logicAppName'))]",
        "armConnectionName": "[concat('ARM-', parameters('logicAppName'))]",
        "storageAccountId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2019-06-01",
            "name": "[parameters('storageAccountName')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "accessTier": "Hot",
                "allowBlobPublicAccess": "false"
            },
            "resources": [
                {
                    "type": "blobServices/containers",
                    "apiVersion": "2019-06-01",
                    "name": "[concat('default/', parameters('blobContainerName'))]",
                    "dependsOn": [
                        "[parameters('storageAccountName')]"
                    ]
                }
            ]
        },
        {
            "name": "[variables('ascAssessmentConnectionName')]",
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "tags": {},
            "properties": {
                "displayName": "[variables('ascAssessmentConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                }
            }
        },
        {
            "name": "[variables('armConnectionName')]",
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "tags": {
            },
            "properties": {
                "displayName": "[variables('armConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ascAssessmentConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('armConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "StorageAccountKey": {
                            "defaultValue": "[listKeys(variables('storageAccountId'), '2019-04-01').keys[0].value]",
                            "type": "String"
                        },
                        "StorageAccountName": {
                            "defaultValue": "[parameters('storageAccountName')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Recommendation_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascassessment']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Assessment/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Get_Azure_Arc_Details": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/subscriptions/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4])}/providers/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[6])}/@{encodeURIComponent(concat(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[7],'/',split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]))}",
                                        "queries": {
                                            "x-ms-api-version": "2020-08-02"
                                        }
                                    }
                                },
                                "Validate_Azure_Arc_OS_Type": {
                                    "actions": {
                                        "Deploy_Extension_for_Azure_Arc_-_Windows": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "properties": {
                                                        "mode": "Incremental",
                                                        "template": {
                                                            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                                                            "contentVersion": "1.0.0.0",
                                                            "resources": [
                                                                {
                                                                    "apiVersion": "2020-08-02",
                                                                    "location": "@{body('Get_Azure_Arc_Details')?['location']}",
                                                                    "name": "@{split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]}/DefenderForEndpoint",
                                                                    "properties": {
                                                                        "autoUpgradeMinorVersion": true,
                                                                        "protectedSettings": {
                                                                            "commandToExecute": "powershell.exe -File ConfigureDefender.ps1",
                                                                            "fileUris": "@variables('WindowsFileUris')",
                                                                            "storageAccountKey": "@{parameters('StorageAccountKey')}",
                                                                            "storageAccountName": "@{parameters('StorageAccountName')}"
                                                                        },
                                                                        "publisher": "Microsoft.Compute",
                                                                        "settings": {},
                                                                        "type": "CustomScriptExtension"
                                                                    },
                                                                    "type": "Microsoft.HybridCompute/machines/extensions"
                                                                }
                                                            ]
                                                        }
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "[concat('/subscriptions/@{encodeURIComponent(split(triggerBody()?[''properties'']?[''resourceDetails'']?[''id''], ''/'')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?[''properties'']?[''resourceDetails'']?[''id''], ''/'')[4])}/providers/Microsoft.Resources/deployments/@{encodeURIComponent(''', parameters('logicAppName'), ''')}')]",
                                                "queries": {
                                                    "wait": true,
                                                    "x-ms-api-version": "2016-06-01"
                                                }
                                            },
                                            "description": "Windows based Azure Arc machine"
                                        },
                                        "Monitor_Provisioning_State_for_Azure_Arc_-_Windows": {
                                            "actions": {
                                                "Cleanup_Arc_Extension_-_Windows": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                                            }
                                                        },
                                                        "method": "delete",
                                                        "path": "/subscriptions/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4])}/providers/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[6])}/@{encodeURIComponent(concat(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[7],'/',split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]),'/extensions/DefenderForEndpoint')}",
                                                        "queries": {
                                                            "x-ms-api-version": "2020-08-02"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Deploy_Extension_for_Azure_Arc_-_Windows": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "",
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Get_Azure_Arc_Details": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Deploy_Extension_for_Azure_Arc_-_Linux": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "properties": {
                                                            "mode": "Incremental",
                                                            "template": {
                                                                "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                                                                "contentVersion": "1.0.0.0",
                                                                "resources": [
                                                                    {
                                                                        "apiVersion": "2020-08-02",
                                                                        "location": "@{body('Get_Azure_Arc_Details')?['location']}",
                                                                        "name": "@{split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]}/DefenderForEndpoint",
                                                                        "properties": {
                                                                            "autoUpgradeMinorVersion": true,
                                                                            "protectedSettings": {
                                                                                "commandToExecute": "sh ConfigureDefender.sh",
                                                                                "fileUris": "@variables('LinuxFileUris')",
                                                                                "storageAccountKey": "@{parameters('StorageAccountKey')}",
                                                                                "storageAccountName": "@{parameters('StorageAccountName')}"
                                                                            },
                                                                            "publisher": "Microsoft.Azure.Extensions",
                                                                            "settings": {},
                                                                            "type": "CustomScript"
                                                                        },
                                                                        "type": "Microsoft.HybridCompute/machines/extensions"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['arm']['connectionId']"
                                                        }
                                                    },
                                                    "method": "put",
                                                    "path": "[concat('/subscriptions/@{encodeURIComponent(split(triggerBody()?[''properties'']?[''resourceDetails'']?[''id''], ''/'')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?[''properties'']?[''resourceDetails'']?[''id''], ''/'')[4])}/providers/Microsoft.Resources/deployments/@{encodeURIComponent(''', parameters('logicAppName'), ''')}')]",
                                                    "queries": {
                                                        "wait": true,
                                                        "x-ms-api-version": "2016-06-01"
                                                    }
                                                }
                                            },
                                            "Monitor_Provisioning_State_for_Azure_Arc_-_Linux": {
                                                "actions": {
                                                    "Cleanup_Arc_Extension_-_Linux": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['arm']['connectionId']"
                                                                }
                                                            },
                                                            "method": "delete",
                                                            "path": "/subscriptions/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4])}/providers/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[6])}/@{encodeURIComponent(concat(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[7],'/',split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]),'/extensions/DefenderForEndpoint')}",
                                                            "queries": {
                                                                "x-ms-api-version": "2020-08-02"
                                                            }
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Deploy_Extension_for_Azure_Arc_-_Linux": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@body('Deploy_Extension_for_Azure_Arc_-_Linux')?['properties']?['provisioningState']",
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Get_Azure_Arc_Details')?['properties']['osName']",
                                                    "windows"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Initialize_LinuxFileUris": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Get_Azure_VM_Details": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['arm']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/subscriptions/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4])}/providers/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[6])}/@{encodeURIComponent(concat(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[7],'/',split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]))}",
                                            "queries": {
                                                "x-ms-api-version": "2020-06-01"
                                            }
                                        }
                                    },
                                    "Validate_Azure_VM_OS_Type": {
                                        "actions": {
                                            "Deploy_Extension_for_Azure_VM_-_Windows": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "properties": {
                                                            "mode": "Incremental",
                                                            "template": {
                                                                "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                                                                "contentVersion": "1.0.0.0",
                                                                "resources": [
                                                                    {
                                                                        "apiVersion": "2020-06-01",
                                                                        "location": "@{body('Get_Azure_VM_Details')?['location']}",
                                                                        "name": "@{split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]}/DefenderForEndpoint",
                                                                        "properties": {
                                                                            "autoUpgradeMinorVersion": true,
                                                                            "protectedSettings": {
                                                                                "commandToExecute": "powershell.exe -File ConfigureDefender.ps1",
                                                                                "fileUris": "@variables('WindowsFileUris')",
                                                                                "storageAccountKey": "@{parameters('StorageAccountKey')}",
                                                                                "storageAccountName": "@{parameters('StorageAccountName')}"
                                                                            },
                                                                            "publisher": "Microsoft.Compute",
                                                                            "settings": {},
                                                                            "type": "CustomScriptExtension",
                                                                            "typeHandlerVersion": "1.10"
                                                                        },
                                                                        "type": "Microsoft.Compute/virtualMachines/extensions"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['arm']['connectionId']"
                                                        }
                                                    },
                                                    "method": "put",
                                                    "path": "[concat('/subscriptions/@{encodeURIComponent(split(triggerBody()?[''properties'']?[''resourceDetails'']?[''id''], ''/'')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?[''properties'']?[''resourceDetails'']?[''id''], ''/'')[4])}/providers/Microsoft.Resources/deployments/@{encodeURIComponent(''', parameters('logicAppName'), ''')}')]",
                                                    "queries": {
                                                        "wait": true,
                                                        "x-ms-api-version": "2016-06-01"
                                                    }
                                                }
                                            },
                                            "Monitor_Provisioning_State_for_Azure_VM_-_Windows": {
                                                "actions": {
                                                    "Cleanup_Azure_VM_Extension_-_Windows": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['arm']['connectionId']"
                                                                }
                                                            },
                                                            "method": "delete",
                                                            "path": "/subscriptions/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4])}/providers/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[6])}/@{encodeURIComponent(concat(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[7],'/',split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]),'/extensions/DefenderForEndpoint')}",
                                                            "queries": {
                                                                "x-ms-api-version": "2020-06-01"
                                                            }
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Deploy_Extension_for_Azure_VM_-_Windows": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "",
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        },
                                        "runAfter": {
                                            "Get_Azure_VM_Details": [
                                                "Succeeded"
                                            ]
                                        },
                                        "else": {
                                            "actions": {
                                                "Deploy_Extension_for_Azure_VM_-_Linux": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "properties": {
                                                                "mode": "Incremental",
                                                                "template": {
                                                                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                                                                    "contentVersion": "1.0.0.0",
                                                                    "resources": [
                                                                        {
                                                                            "apiVersion": "2019-03-01",
                                                                            "location": "@{body('Get_Azure_VM_Details')?['location']}",
                                                                            "name": "@{split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]}/DefenderForEndpoint",
                                                                            "properties": {
                                                                                "autoUpgradeMinorVersion": true,
                                                                                "protectedSettings": {
                                                                                    "commandToExecute": "sh ConfigureDefender.sh",
                                                                                    "fileUris": "@variables('LinuxFileUris')",
                                                                                    "storageAccountKey": "@{parameters('StorageAccountKey')}",
                                                                                    "storageAccountName": "@{parameters('StorageAccountName')}"
                                                                                },
                                                                                "publisher": "Microsoft.Azure.Extensions",
                                                                                "settings": {},
                                                                                "type": "CustomScript",
                                                                                "typeHandlerVersion": "2.1"
                                                                            },
                                                                            "type": "Microsoft.Compute/virtualMachines/extensions"
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "[concat('/subscriptions/@{encodeURIComponent(split(triggerBody()?[''properties'']?[''resourceDetails'']?[''id''], ''/'')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?[''properties'']?[''resourceDetails'']?[''id''], ''/'')[4])}/providers/Microsoft.Resources/deployments/@{encodeURIComponent(''', parameters('logicAppName'), ''')}')]",
                                                        "queries": {
                                                            "wait": true,
                                                            "x-ms-api-version": "2016-06-01"
                                                        }
                                                    }
                                                },
                                                "Monitor_Provisioning_State_for_Azure_VM_-_Linux": {
                                                    "actions": {
                                                        "Cleanup_Azure_VM_Extension_-_Linux": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "delete",
                                                                "path": "/subscriptions/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4])}/providers/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[6])}/@{encodeURIComponent(concat(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[7],'/',split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]),'/extensions/DefenderForEndpoint')}",
                                                                "queries": {
                                                                    "x-ms-api-version": "2020-06-01"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Deploy_Extension_for_Azure_VM_-_Linux": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@body('Deploy_Extension_for_Azure_VM_-_Linux')?['properties']?['provisioningState']",
                                                                    "Succeeded"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "contains": [
                                                        "@body('Get_Azure_VM_Details')['properties']['storageProfile']['osDisk']['osType']",
                                                        "Windows"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression": {
                                "or": [
                                    {
                                        "contains": [
                                            "@triggerBody()?['id']",
                                            "HybridCompute"
                                        ]
                                    },
                                    {
                                        "contains": [
                                            "@triggerBody()?['id']",
                                            "hybridcompute"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_LinuxFileUris": {
                            "runAfter": {
                                "Initialize_WindowsFileUris": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "LinuxFileUris",
                                        "type": "array",
                                        "value": [
                                            "https://@{parameters('StorageAccountName')}.blob.core.windows.net/scripts/ConfigureDefender.sh",
                                            "https://@{parameters('StorageAccountName')}.blob.core.windows.net/scripts/MicrosoftDefenderATPOnboardingLinuxServer.py"
                                        ]
                                    }
                                ]
                            }
                        },
                        "Initialize_WindowsFileUris": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WindowsFileUris",
                                        "type": "array",
                                        "value": [
                                            "https://@{parameters('StorageAccountName')}.blob.core.windows.net/scripts/ConfigureDefender.ps1",
                                            "https://@{parameters('StorageAccountName')}.blob.core.windows.net/scripts/WindowsDefenderATPOnboardingScript.cmd"
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('armConnectionName'))]",
                                "connectionName": "[variables('armConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                            },
                            "ascassessment": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ascAssessmentConnectionName'))]",
                                "connectionName": "[variables('ascAssessmentConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}