Workflow automation/Enable-ASCJITVM/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "This playbook is for workflow automation. It will resolve the Management ports of virtual machines should be protected with just-in-time network access control recommendation",
        "author": "Nicholas DiCola"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Enable-ASCJITVM",
            "type": "string"
        },
        "RGName": {
            "type": "string"
        }
    },
    "variables": {
        "ASCAssesmentConnectionName": "[concat('ascassessment-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ASCAssesmentConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "Security Center Recommendation",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ASCAssesmentConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Recommendation_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascassessment']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Assessment/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "HTTP": {
                            "runAfter": {
                                "Initialize_variable_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com@{triggerBody()?['properties']?['resourceDetails']?['id']}?api-version=2020-06-01"
                            }
                        },
                        "HTTP_2": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "id": "/subscriptions/@{variables('SubscriptionId')}/resourceGroups/@{variables('ResourceGroup')}/providers/Microsoft.Security/locations/@{body('Parse_JSON')?['location']}/jitNetworkAccessPolicies/default",
                                    "kind": "Basic",
                                    "location": "@{body('Parse_JSON')?['location']}",
                                    "name": "default",
                                    "properties": {
                                        "virtualMachines": [
                                            {
                                                "id": "@{triggerBody()?['properties']?['resourceDetails']?['id']}",
                                                "ports": [
                                                    {
                                                        "allowedSourceAddressPrefix": "*",
                                                        "allowedSourceAddressPrefixes": null,
                                                        "maxRequestAccessDuration": "PT3H",
                                                        "number": 22,
                                                        "protocol": "*"
                                                    },
                                                    {
                                                        "allowedSourceAddressPrefix": "*",
                                                        "allowedSourceAddressPrefixes": null,
                                                        "maxRequestAccessDuration": "PT3H",
                                                        "number": 3389,
                                                        "protocol": "*"
                                                    },
                                                    {
                                                        "allowedSourceAddressPrefix": "*",
                                                        "allowedSourceAddressPrefixes": null,
                                                        "maxRequestAccessDuration": "PT3H",
                                                        "number": 5985,
                                                        "protocol": "*"
                                                    },
                                                    {
                                                        "allowedSourceAddressPrefix": "*",
                                                        "allowedSourceAddressPrefixes": null,
                                                        "maxRequestAccessDuration": "PT3H",
                                                        "number": 5986,
                                                        "protocol": "*"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "Microsoft.Security/locations/jitNetworkAccessPolicies"
                                },
                                "method": "PUT",
                                "uri": "https://management.azure.com/subscriptions/@{variables('SubscriptionId')}/resourceGroups/@{variables('ResourceGroup')}/providers/Microsoft.Security/locations/@{body('Parse_JSON')?['location']}/jitNetworkAccessPolicies/default?api-version=2020-01-01"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SubscriptionId",
                                        "type": "string",
                                        "value": "@{split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2]}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ResourceGroup",
                                        "type": "string",
                                        "value": "@{split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4]}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_4": {
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Region",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "location": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascassessment": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ASCAssesmentConnectionName'))]",
                                "connectionName": "[variables('ASCAssesmentConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}
