Workflow automation/Notify-AzDefenderAlertIPEntity-GreyNoiseCommunity/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "This playbook uses the GreyNoise Community API to automatically enrich IP entities in alerts generated by Azure Defender.",
        "author": "Nathan Swift"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Notify-AzDefenderAlertIPEntity-GreyNoiseCommunity",
            "type": "string"
        },
        "ASCWorkspaceSubId": {
            "defaultValue": "",
            "type": "string"
        },
        "ASCWorkspaceRG": {
            "defaultValue": "",
            "type": "string"
        },
        "ASCWorkspaceName": {
            "defaultValue": "",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "ASCWorkspaceID": {
            "defaultValue": "your-workspaceID",
            "type": "string"
        },
        "ASCWorkspaceKey": {
            "defaultValue": "your-workspaceKey",
            "type": "securestring"
        },
        "SecurityOperationsEmailAddress": {
            "defaultValue": "SecurityOperationsEmailAddress@domain.com",
            "type": "string"
        }
    },
    "variables": {
        "ascalertConnectionName": "[concat('ascalert-', parameters('PlaybookName'))]",
        "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]",
        "azureloganalyticsdatacollectorConnectionName": "[concat('azureloganalyticsdatacollector-', parameters('PlaybookName'))]",
        "azuremonitorlogsConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuremonitorlogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azureloganalyticsdatacollectorConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "SendtoLogAnalytics",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                },
                "parameterValues": {
                    "username": "[parameters('ASCWorkspaceID')]",
                    "password": "[parameters('ASCWorkspaceKey')]"
                }               
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ascalertConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('azureloganalyticsdatacollectorConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "ASCWorkspaceName": {
                            "defaultValue": "[parameters('ASCWorkspaceName')]",
                            "type": "String"
                        },
                        "ASCWorkspaceRG": {
                            "defaultValue": "[parameters('ASCWorkspaceRG')]",
                            "type": "String"
                        },
                        "ASCWorkspaceSubId": {
                            "defaultValue": "[parameters('ASCWorkspaceSubId')]",
                            "type": "String"
                        },
                        "ASCWorkspaceId": {
                            "defaultValue": "[parameters('ASCWorkspaceId')]",
                            "type": "String"
                        },
                        "ASCWorkspaceKey": {
                            "defaultValue": "[parameters('ASCWorkspaceKey')]",
                            "type": "String"
                        },
                        "GreyNoiseKey": {
                            "defaultValue": "",
                            "type": "String"
                        },
                        "SecurityOperationsEmailAddress": {
                            "defaultValue": "[parameters('SecurityOperationsEmailAddress')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Alert_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascalert']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Alert/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Filter_array_IPEntities": {
                            "runAfter": {},
                            "type": "Query",
                            "inputs": {
                                "from": "@triggerBody()?['Entities']",
                                "where": "@equals(item()?['type'], 'ip')"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Filter_array_IPEntities')",
                            "actions": {
                                "CheckObserved": {
                                    "actions": {
                                        "Compose_IP_Community": {
                                            "runAfter": {
                                                "Parse_JSON_CommunityIP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": {
                                                "Classification": "@body('Parse_JSON_CommunityIP')?['classification']",
                                                "IPAddress": "@body('Parse_JSON_CommunityIP')?['ip']",
                                                "LastSeen": "@body('Parse_JSON_CommunityIP')?['last_seen']",
                                                "Name": "@body('Parse_JSON_CommunityIP')?['name']",
                                                "Observed": "@body('Parse_JSON_CommunityIP')?['noise']",
                                                "RuleItOut": "@body('Parse_JSON_CommunityIP')?['riot']"
                                            }
                                        },
                                        "IsRIOT": {
                                            "actions": {
                                                "Send_an_email_(V2)": {
                                                    "runAfter": {
                                                        "Set_variable_GreyNoiseVizURL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Body": "<p>Azure Security Center has discovered a potential security threat in your environment. Details below:<br>\n<br>\nAlert name: @{triggerBody()?['AlertDisplayName']}<br>\n<br>\nAttacked resource: @{triggerBody()?['CompromisedEntity']}<br>\n<br>\nAlert severity: @{triggerBody()?['Severity']}<br>\n<br>\nDetection time: @{triggerBody()?['TimeGenerated']}<br>\n<br>\nDescription: @{triggerBody()?['Description']}<br>\n<br>\nDetected by: @{triggerBody()?['VendorName']}<br>\n<br>\nAlert ID: @{triggerBody()?['SystemAlertId']}<br>\n<br>\nResource identifiers: @{json(string(triggerBody()?['ResourceIdentifiers']))}<br>\n<br>\nLink to view alert in Azure Security Center: @{triggerBody()?['AlertUri']}<br>\n<br>\n<span style=\"font-size: 24px; color: rgb(65,168,95)\">IP address is contained in RIOT Dataset<br>\n<br>\n</span><span style=\"font-size: 24px; color: rgb(65,168,95)\">@{base64ToString(body('Run_query_and_visualize_results_CommunityIP')?['attachmentContent'])}</span><span style=\"font-size: 24px; color: rgb(65,168,95)\"><br>\n<br>\n</span><span style=\"font-size: 24px; color: rgb(65,168,95)\">@{variables('GreyNoiseVizURL')}</span><span style=\"font-size: 24px; color: rgb(65,168,95)\"></span></p>",
                                                            "Importance": "Low",
                                                            "Subject": "Azure Security Center has discovered a potential security threat in your environment - GreyNoise Rule It Out (RIOT)",
                                                            "To": "@parameters('SecurityOperationsEmailAddress')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/Mail"
                                                    }
                                                },
                                                "Set_variable_GreyNoiseVizURL": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "GreyNoiseVizURL",
                                                        "value": "https://viz.greynoise.io/riot/@{body('Parse_JSON_CommunityIP')?['ip']}"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Run_query_and_visualize_results_CommunityIP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Send_an_email_(V2)_2": {
                                                        "runAfter": {
                                                            "Set_variable_GreyNoiseVizUrl2": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "Body": "<p>Azure Security Center has discovered a potential security threat in your environment. Details below:<br>\n<br>\nAlert name: @{triggerBody()?['AlertDisplayName']}<br>\n<br>\nAttacked resource: @{triggerBody()?['CompromisedEntity']}<br>\n<br>\nAlert severity: @{triggerBody()?['Severity']}<br>\n<br>\nDetection time: @{triggerBody()?['TimeGenerated']}<br>\n<br>\nDescription: @{triggerBody()?['Description']}<br>\n<br>\nDetected by: @{triggerBody()?['VendorName']}<br>\n<br>\nAlert ID: @{triggerBody()?['SystemAlertId']}<br>\n<br>\nResource identifiers: @{json(string(triggerBody()?['ResourceIdentifiers']))}<br>\n<br>\nLink to view alert in Azure Security Center: @{triggerBody()?['AlertUri']}<br>\n<br>\n<span style=\"font-size: 24px; color: rgb(250,197,28)\">GreyNoise has observed IP address while scanning the Internet in the last 90 Days<br>\n<br>\n</span><span style=\"font-size: 24px; color: rgb(250,197,28)\">@{base64ToString(body('Run_query_and_visualize_results_CommunityIP')?['attachmentContent'])}</span><span style=\"font-size: 24px; color: rgb(250,197,28)\"><br>\n<br>\n</span><span style=\"font-size: 24px; color: rgb(250,197,28)\">@{variables('GreyNoiseVizURL')}</span><span style=\"font-size: 24px; color: rgb(250,197,28)\"></span></p>",
                                                                "Importance": "Normal",
                                                                "Subject": "Azure Security Center has discovered a potential security threat in your environment - GreyNoise Observed IP",
                                                                "To": "@parameters('SecurityOperationsEmailAddress')"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/v2/Mail"
                                                        }
                                                    },
                                                    "Set_variable_GreyNoiseVizUrl2": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "GreyNoiseVizURL",
                                                            "value": "https://viz.greynoise.io/ip/@{body('Parse_JSON_CommunityIP')?['ip']}"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@body('Parse_JSON_CommunityIP')?['riot']",
                                                            "@true"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Parse_JSON_CommunityIP": {
                                            "runAfter": {},
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('CommunityIP')",
                                                "schema": {
                                                    "properties": {
                                                        "classification": {
                                                            "type": "string"
                                                        },
                                                        "ip": {
                                                            "type": "string"
                                                        },
                                                        "last_seen": {
                                                            "type": "string"
                                                        },
                                                        "link": {
                                                            "type": "string"
                                                        },
                                                        "message": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "noise": {
                                                            "type": "boolean"
                                                        },
                                                        "riot": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Run_query_and_visualize_results_CommunityIP": {
                                            "runAfter": {
                                                "Set_variable_CommunityResults": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "let result = print myDynamicValue = dynamic(@{variables('CommunityResults')})\n| mv-expand myDynamicValue\n| evaluate bag_unpack(myDynamicValue)\n| project IPAddress, LastSeen, Classification, Name, RuleItOut, Observed\n| sort by IPAddress asc;\nresult",
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/visualizeQuery",
                                                "queries": {
                                                    "resourcegroups": "@parameters('ASCWorkspaceRG')",
                                                    "resourcename": "@parameters('ASCWorkspaceName')",
                                                    "resourcetype": "Log Analytics Workspace",
                                                    "subscriptions": "@parameters('ASCWorkspaceSubId')",
                                                    "timerange": "Last 24 Hours",
                                                    "visType": "Html Table"
                                                }
                                            }
                                        },
                                        "Send_CommunityIP_Data_to_AzureSecurityCenterLAW": {
                                            "runAfter": {
                                                "Compose_IP_Community": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@{body('Parse_JSON_CommunityIP')}",
                                                "headers": {
                                                    "Log-Type": "GreyNoiseIPCommunity",
                                                    "time-generated-field": "@triggerBody()?['TimeGenerated']"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/logs"
                                            }
                                        },
                                        "Set_variable_CommunityResults": {
                                            "runAfter": {
                                                "Send_CommunityIP_Data_to_AzureSecurityCenterLAW": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "CommunityResults",
                                                "value": [
                                                    "@outputs('Compose_IP_Community')"
                                                ]
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "CommunityIP": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Compose_IP_Community2": {
                                                "runAfter": {
                                                    "Send_CommunityIP2_Data_to_AzureSecurityCenterLAW": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Compose",
                                                "inputs": {
                                                    "IPAddress": "@body('Parse_JSON_CommunityIP2')?['ip']",
                                                    "Message": "@body('Parse_JSON_CommunityIP2')?['message']",
                                                    "Observed": "@body('Parse_JSON_CommunityIP2')?['noise']",
                                                    "RuleItOut": "@body('Parse_JSON_CommunityIP2')?['riot']"
                                                }
                                            },
                                            "Parse_JSON_CommunityIP2": {
                                                "runAfter": {},
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('CommunityIP')",
                                                    "schema": {
                                                        "properties": {
                                                            "ip": {
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "type": "string"
                                                            },
                                                            "noise": {
                                                                "type": "boolean"
                                                            },
                                                            "riot": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "Run_query_and_visualize_results_CommunityIP2": {
                                                "runAfter": {
                                                    "Set_variable_CommunityResults2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "let result = print myDynamicValue = dynamic(@{variables('CommunityResults')})\n| mv-expand myDynamicValue\n| evaluate bag_unpack(myDynamicValue)\n| project IPAddress, RuleItOut, Observed, Message\n| sort by IPAddress asc;\nresult",
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/visualizeQuery",
                                                    "queries": {
                                                        "resourcegroups": "@parameters('ASCWorkspaceRG')",
                                                        "resourcename": "@parameters('ASCWorkspaceName')",
                                                        "resourcetype": "Log Analytics Workspace",
                                                        "subscriptions": "@parameters('ASCWorkspaceSubId')",
                                                        "timerange": "Last 24 Hours",
                                                        "visType": "Html Table"
                                                    }
                                                }
                                            },
                                            "Send_CommunityIP2_Data_to_AzureSecurityCenterLAW": {
                                                "runAfter": {
                                                    "Parse_JSON_CommunityIP2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@{body('Parse_JSON_CommunityIP2')}",
                                                    "headers": {
                                                        "Log-Type": "GreyNoiseIPCommunity",
                                                        "time-generated-field": "@triggerBody()?['TimeGenerated']"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/api/logs"
                                                }
                                            },
                                            "Send_an_email_(V2)_3": {
                                                "runAfter": {
                                                    "Run_query_and_visualize_results_CommunityIP2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "Body": "<p>Azure Security Center has discovered a potential security threat in your environment. Details below:<br>\n<br>\nAlert name: @{triggerBody()?['AlertDisplayName']}<br>\n<br>\nAttacked resource: @{triggerBody()?['CompromisedEntity']}<br>\n<br>\nAlert severity: @{triggerBody()?['Severity']}<br>\n<br>\nDetection time: @{triggerBody()?['TimeGenerated']}<br>\n<br>\nDescription: @{triggerBody()?['Description']}<br>\n<br>\nDetected by: @{triggerBody()?['VendorName']}<br>\n<br>\nAlert ID: @{triggerBody()?['SystemAlertId']}<br>\n<br>\nResource identifiers: @{json(string(triggerBody()?['ResourceIdentifiers']))}<br>\n<br>\nLink to view alert in Azure Security Center: @{triggerBody()?['AlertUri']}<br>\n<br>\n<span style=\"font-size: 24px; color: rgb(184,49,47)\">IP not observed scanning the internet in the last 90 Days or contained in RIOT data set.<br>\n<br>\n</span><span style=\"font-size: 24px; color: rgb(184,49,47)\">@{base64ToString(body('Run_query_and_visualize_results_CommunityIP2')?['attachmentContent'])}</span><span style=\"font-size: 24px; color: rgb(184,49,47)\"></span></p>",
                                                        "Importance": "High",
                                                        "Subject": "Azure Security Center has discovered a potential security threat in your environment - GreyNoise IP Not Found",
                                                        "To": "@parameters('SecurityOperationsEmailAddress')"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/Mail"
                                                }
                                            },
                                            "Set_variable_CommunityResults2": {
                                                "runAfter": {
                                                    "Compose_IP_Community2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "CommunityResults",
                                                    "value": [
                                                        "@outputs('Compose_IP_Community2')"
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('CommunityIP')?['message']",
                                                    "Success"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "CommunityIP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "https://api.greynoise.io/v3/community/@{items('For_each')?['address']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_GreyNoiseVizURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_array_variable_CommunityResults": {
                            "runAfter": {
                                "Filter_array_IPEntities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CommunityResults",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_GreyNoiseVizURL": {
                            "runAfter": {
                                "Initialize_array_variable_CommunityResults": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "GreyNoiseVizURL",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]",
                                "connectionName": "[variables('azuremonitorlogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "AzureLogAnalyticsDataCollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureloganalyticsdatacollectorConnectionName'))]",
                                "connectionName": "[variables('azureloganalyticsdatacollectorConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            },
                            "ascalert": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]",
                                "connectionName": "ascalert",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}