Secure Score/IP forwarding on your virtual machine should be disabled/Logic App/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "metadata": {
            "description": "The name of the logic app to create.",
            "defaultValue": "IPForwarding-Disabled",
            "type": "String"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name":"[parameters('logicAppName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "tags": {
                "displayName": "LogicApp"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each_Azure_Subscription": {
                            "foreach": "@body('Parse_JSON_Azure_Subscriptions')?['value']",
                            "actions": {
                                "For_each_Resource_Groups": {
                                    "foreach": "@body('Parse_JSON_resource_Groups')?['value']",
                                    "actions": {
                                        "For_each_Network_Cards_": {
                                            "foreach": "@body('Parse_JSON_Networks_Cards')?['value']",
                                            "actions": {
                                                "Check_Enable_IP_Forward": {
                                                    "actions": {
                                                        "Update_Enable_IP_Forward_to_false": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "location": "@{items('For_each_Network_Cards_')?['location']}",
                                                                    "properties": {
                                                                        "enableIPForwarding": false,
                                                                        "ipConfigurations": "@items('For_each_Network_Cards_')?['properties']?['ipConfigurations']"
                                                                    }
                                                                },
                                                                "method": "PUT",
                                                                "uri": "https://management.azure.com/@{items('For_each_Network_Cards_')?['id']}?api-version=2018-11-01"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@items('For_each_Network_Cards_')?['properties']?['enableIPForwarding']",
                                                                    true
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_JSON_Networks_Cards": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Get_Network_Cards_from_resource_groups": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "method": "GET",
                                                "uri": "https://management.azure.com/@{items('For_each_Resource_Groups')?['id']}/providers/Microsoft.Network/networkInterfaces?api-version=2018-11-01"
                                            }
                                        },
                                        "Parse_JSON_Networks_Cards": {
                                            "runAfter": {
                                                "Get_Network_Cards_from_resource_groups": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Get_Network_Cards_from_resource_groups')",
                                                "schema": {
                                                    "properties": {
                                                        "value": {
                                                            "items": {
                                                                "properties": {
                                                                    "etag": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "location": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "properties": {
                                                                        "properties": {
                                                                            "dnsSettings": {
                                                                                "properties": {
                                                                                    "appliedDnsServers": {
                                                                                        "type": "array"
                                                                                    },
                                                                                    "dnsServers": {
                                                                                        "type": "array"
                                                                                    },
                                                                                    "internalDomainNameSuffix": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "enableAcceleratedNetworking": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "enableIPForwarding": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "hostedWorkloads": {
                                                                                "type": "array"
                                                                            },
                                                                            "ipConfigurations": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "etag": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "id": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "properties": {
                                                                                            "properties": {
                                                                                                "primary": {
                                                                                                    "type": "boolean"
                                                                                                },
                                                                                                "privateIPAddress": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "privateIPAddressVersion": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "privateIPAllocationMethod": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "provisioningState": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "publicIPAddress": {
                                                                                                    "properties": {
                                                                                                        "id": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "subnet": {
                                                                                                    "properties": {
                                                                                                        "id": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "name",
                                                                                        "id",
                                                                                        "etag",
                                                                                        "type",
                                                                                        "properties"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "macAddress": {
                                                                                "type": "string"
                                                                            },
                                                                            "primary": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "provisioningState": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceGuid": {
                                                                                "type": "string"
                                                                            },
                                                                            "tapConfigurations": {
                                                                                "type": "array"
                                                                            },
                                                                            "virtualMachine": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "tags": {
                                                                        "properties": {},
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "id",
                                                                    "etag",
                                                                    "location",
                                                                    "properties",
                                                                    "type"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_resource_Groups": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_resource_Groups_from_Subscriptions": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "https://management.azure.com/@{items('For_each_Azure_Subscription')?['id']}/resourcegroups?api-version=2019-05-10"
                                    }
                                },
                                "Parse_JSON_resource_Groups": {
                                    "runAfter": {
                                        "Get_resource_Groups_from_Subscriptions": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_resource_Groups_from_Subscriptions')",
                                        "schema": {
                                            "properties": {
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "tags": {
                                                                "properties": {},
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "type",
                                                            "location",
                                                            "properties"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_Azure_Subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Azure_Subscriptions": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                            }
                        },
                        "Parse_JSON_Azure_Subscriptions": {
                            "runAfter": {
                                "Get_Azure_Subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_Azure_Subscriptions')",
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "authorizationSource": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionPolicies": {
                                                        "properties": {
                                                            "locationPlacementId": {
                                                                "type": "string"
                                                            },
                                                            "quotaId": {
                                                                "type": "string"
                                                            },
                                                            "spendingLimit": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "subscriptionId",
                                                    "displayName",
                                                    "state",
                                                    "subscriptionPolicies",
                                                    "authorizationSource"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}