Secure Score/Install Monitring Agent on VMSS/Logic App/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Install_Monitoring_Agent_On_VMSS_name": {
            "defaultValue": "Install_Monitoring_Agent_On_VMSS",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Install_Monitoring_Agent_On_VMSS_name')]",
            "location": "westus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON_-_Subs')?['value']",
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@body('Parse_JSON_for_RG''s')?['value']",
                                    "actions": {
                                        "For_each_3": {
                                            "foreach": "@body('Parse_JSON_VMSS')?['value']",
                                            "actions": {
                                                "checkOS": {
                                                    "actions": {
                                                        "install_MMA_on_WINDOWS_SKU's_": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "authentication": {
                                                                    "type": "ManagedServiceIdentity"
                                                                },
                                                                "body": {
                                                                    "location": "@{items('For_each_3')?['location']}",
                                                                    "properties": {
                                                                        "autoUpgradeMinorVersion": true,
                                                                        "protectedSettings": {
                                                                            "workspaceKey": "@{variables('WorkspaceKey')}"
                                                                        },
                                                                        "publisher": "Microsoft.EnterpriseCloud.Monitoring",
                                                                        "settings": {
                                                                            "workspaceId": "@{variables('WorkspaceID')}"
                                                                        },
                                                                        "type": "MicrosoftMonitoringAgent",
                                                                        "typeHandlerVersion": "1.0"
                                                                    }
                                                                },
                                                                "method": "PUT",
                                                                "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/resourceGroups/@{items('For_each_2')?['name']}/providers/Microsoft.Compute/virtualMachineScaleSets/@{items('For_each_3')?['name']}/extensions/MicrosoftMonitoringAgent?api-version=2019-07-01"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "else": {
                                                        "actions": {
                                                            "Install_MMA_on_VMSS_on_Linux": {
                                                                "runAfter": {},
                                                                "type": "Http",
                                                                "inputs": {
                                                                    "authentication": {
                                                                        "type": "ManagedServiceIdentity"
                                                                    },
                                                                    "body": {
                                                                        "location": "@{items('For_each_3')?['location']}",
                                                                        "properties": {
                                                                            "autoUpgradeMinorVersion": true,
                                                                            "protectedSettings": {
                                                                                "workspaceKey": "@{variables('WorkspaceKey')}"
                                                                            },
                                                                            "publisher": "Microsoft.EnterpriseCloud.Monitoring",
                                                                            "settings": {
                                                                                "workspaceId": "@{variables('WorkspaceID')}"
                                                                            },
                                                                            "type": "OmsAgentForLinux",
                                                                            "typeHandlerVersion": "1.0"
                                                                        }
                                                                    },
                                                                    "method": "PUT",
                                                                    "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/resourceGroups/@{items('For_each_2')?['name']}/providers/Microsoft.Compute/virtualMachineScaleSets/@{items('For_each_3')?['name']}/extensions/MicrosoftMonitoringAgent?api-version=2019-07-01"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "startsWith": [
                                                                    "@items('For_each_3')?['properties']?['virtualMachineProfile']?['storageProfile']?['imageReference']?['publisher']",
                                                                    "Microsoft"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_JSON_VMSS": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Get_VMSS_on_Every_RG's": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/resourceGroups/@{items('For_each_2')?['name']}/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2018-06-01"
                                            }
                                        },
                                        "Parse_JSON_VMSS": {
                                            "runAfter": {
                                                "Get_VMSS_on_Every_RG's": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Get_VMSS_on_Every_RG''s')",
                                                "schema": {
                                                    "properties": {
                                                        "value": {
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "location": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "properties": {
                                                                        "properties": {
                                                                            "overprovision": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "platformFaultDomainCount": {
                                                                                "type": "integer"
                                                                            },
                                                                            "provisioningState": {
                                                                                "type": "string"
                                                                            },
                                                                            "singlePlacementGroup": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "uniqueId": {
                                                                                "type": "string"
                                                                            },
                                                                            "upgradePolicy": {
                                                                                "properties": {
                                                                                    "automaticOSUpgrade": {
                                                                                        "type": "boolean"
                                                                                    },
                                                                                    "mode": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "virtualMachineProfile": {
                                                                                "properties": {
                                                                                    "extensionProfile": {
                                                                                        "properties": {
                                                                                            "extensions": {
                                                                                                "items": {
                                                                                                    "properties": {
                                                                                                        "name": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "properties": {
                                                                                                            "properties": {
                                                                                                                "autoUpgradeMinorVersion": {
                                                                                                                    "type": "boolean"
                                                                                                                },
                                                                                                                "publisher": {
                                                                                                                    "type": "string"
                                                                                                                },
                                                                                                                "settings": {
                                                                                                                    "properties": {
                                                                                                                        "workspaceId": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "type": {
                                                                                                                    "type": "string"
                                                                                                                },
                                                                                                                "typeHandlerVersion": {
                                                                                                                    "type": "string"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        }
                                                                                                    },
                                                                                                    "required": [
                                                                                                        "name",
                                                                                                        "properties"
                                                                                                    ],
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": "array"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "networkProfile": {
                                                                                        "properties": {
                                                                                            "networkInterfaceConfigurations": {
                                                                                                "items": {
                                                                                                    "properties": {
                                                                                                        "name": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "properties": {
                                                                                                            "properties": {
                                                                                                                "dnsSettings": {
                                                                                                                    "properties": {
                                                                                                                        "dnsServers": {
                                                                                                                            "type": "array"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "enableAcceleratedNetworking": {
                                                                                                                    "type": "boolean"
                                                                                                                },
                                                                                                                "enableIPForwarding": {
                                                                                                                    "type": "boolean"
                                                                                                                },
                                                                                                                "ipConfigurations": {
                                                                                                                    "items": {
                                                                                                                        "properties": {
                                                                                                                            "name": {
                                                                                                                                "type": "string"
                                                                                                                            },
                                                                                                                            "properties": {
                                                                                                                                "properties": {
                                                                                                                                    "privateIPAddressVersion": {
                                                                                                                                        "type": "string"
                                                                                                                                    },
                                                                                                                                    "subnet": {
                                                                                                                                        "properties": {
                                                                                                                                            "id": {
                                                                                                                                                "type": "string"
                                                                                                                                            }
                                                                                                                                        },
                                                                                                                                        "type": "object"
                                                                                                                                    }
                                                                                                                                },
                                                                                                                                "type": "object"
                                                                                                                            }
                                                                                                                        },
                                                                                                                        "required": [
                                                                                                                            "name",
                                                                                                                            "properties"
                                                                                                                        ],
                                                                                                                        "type": "object"
                                                                                                                    },
                                                                                                                    "type": "array"
                                                                                                                },
                                                                                                                "primary": {
                                                                                                                    "type": "boolean"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        }
                                                                                                    },
                                                                                                    "required": [
                                                                                                        "name",
                                                                                                        "properties"
                                                                                                    ],
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": "array"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "osProfile": {
                                                                                        "properties": {
                                                                                            "adminUsername": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "allowExtensionOperations": {
                                                                                                "type": "boolean"
                                                                                            },
                                                                                            "computerNamePrefix": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "secrets": {
                                                                                                "type": "array"
                                                                                            },
                                                                                            "windowsConfiguration": {
                                                                                                "properties": {
                                                                                                    "enableAutomaticUpdates": {
                                                                                                        "type": "boolean"
                                                                                                    },
                                                                                                    "provisionVMAgent": {
                                                                                                        "type": "boolean"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "priority": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "storageProfile": {
                                                                                        "properties": {
                                                                                            "imageReference": {
                                                                                                "properties": {
                                                                                                    "offer": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "publisher": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "sku": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "version": {
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object"
                                                                                            },
                                                                                            "osDisk": {
                                                                                                "properties": {
                                                                                                    "caching": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "createOption": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "managedDisk": {
                                                                                                        "properties": {
                                                                                                            "storageAccountType": {
                                                                                                                "type": "string"
                                                                                                            }
                                                                                                        },
                                                                                                        "type": "object"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "sku": {
                                                                        "properties": {
                                                                            "capacity": {
                                                                                "type": "integer"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "tier": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "id",
                                                                    "type",
                                                                    "location",
                                                                    "sku",
                                                                    "properties"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_for_RG's": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_RG's": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/resourcegroups?api-version=2019-05-10\n"
                                    }
                                },
                                "Parse_JSON_for_RG's": {
                                    "runAfter": {
                                        "Get_RG's": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_RG''s')",
                                        "schema": {
                                            "properties": {
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "tags": {
                                                                "properties": {},
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "type",
                                                            "location",
                                                            "properties"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_-_Subs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get-Subs": {
                            "runAfter": {
                                "WorkSpaceKey": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                            }
                        },
                        "Parse_JSON_-_Subs": {
                            "runAfter": {
                                "Get-Subs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get-Subs')",
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "authorizationSource": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionPolicies": {
                                                        "properties": {
                                                            "locationPlacementId": {
                                                                "type": "string"
                                                            },
                                                            "quotaId": {
                                                                "type": "string"
                                                            },
                                                            "spendingLimit": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "subscriptionId",
                                                    "displayName",
                                                    "state",
                                                    "subscriptionPolicies",
                                                    "authorizationSource"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "WorkSpaceID": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WorkspaceID",
                                        "type": "String",
                                        "value": "fb895d7e-29fe-4c10-8446-75b828662aee"
                                    }
                                ]
                            }
                        },
                        "WorkSpaceKey": {
                            "runAfter": {
                                "WorkSpaceID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WorkspaceKey",
                                        "type": "String",
                                        "value": "rVbSrrV5D4165rXwgshVczAHQoRfnCYguXiv/iCZ+rJL8McMoKzhS1BKvooRx1m0eMZNlWwc5bkZKcMNA85MPA=="
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}