Workflow automation/Add-PathAACPolicy/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "Add-PathAACPolicy",
            "metadata": {
                "description": "Set the Logic App name"
            }
        }
    },
    "functions": [],
    "variables": {
        "ascalertConnectionName": "[concat('ascalert-', parameters('logicAppName'))]"

    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ascalertConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "Security Center Alert",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                }
            }
        },
        {
            "name": "[parameters('logicAppName')]",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "FilePath": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "filepath",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Path": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "ForEach_AAC_Group": {
                            "actions": {
                                "ForEach_VM_Recommendation": {
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "Build_Updated_JSON": {
                                                    "inputs": {
                                                        "properties": {
                                                            "enforcementMode": "@items('ForEach_AAC_Group')?['properties']?['enforcementMode']",
                                                            "pathRecommendations": "@variables('pathrecommendations')",
                                                            "vmRecommendations": "@items('ForEach_AAC_Group')?['properties']?['vmRecommendations']"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Set_Path_Recommendations": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose"
                                                },
                                                "Filter_File_Entities": {
                                                    "inputs": {
                                                        "from": "@triggerBody()?['Entities']",
                                                        "where": "@equals(item()?['type'], 'file')"
                                                    },
                                                    "runAfter": {
                                                        "Set_AAC": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Query"
                                                },
                                                "For_Each_File": {
                                                    "actions": {
                                                        "Append_to_Path_Recommendations": {
                                                            "inputs": {
                                                                "name": "groupdata",
                                                                "value": "@outputs('Build_JSON_Path')"
                                                            },
                                                            "runAfter": {
                                                                "Build_JSON_Path": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "AppendToArrayVariable"
                                                        },
                                                        "Build_JSON_Path": {
                                                            "inputs": {
                                                                "action": "Add",
                                                                "common": true,
                                                                "path": "@{variables('filepath')}",
                                                                "type": "File"
                                                            },
                                                            "runAfter": {
                                                                "Set_FilePath": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Compose"
                                                        },
                                                        "Set_FilePath": {
                                                            "inputs": {
                                                                "name": "filepath",
                                                                "value": "@concat(item()?['directory'],'\\',item()?['name'])"
                                                            },
                                                            "runAfter": {},
                                                            "type": "SetVariable"
                                                        }
                                                    },
                                                    "foreach": "@body('Filter_File_Entities')",
                                                    "runAfter": {
                                                        "Filter_File_Entities": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "Get_AAC_Policy": {
                                                    "inputs": {
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://management.azure.com/@{variables('groupname')}?api-version=2015-06-01-preview"
                                                    },
                                                    "runAfter": {
                                                        "Set_GroupName": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http"
                                                },
                                                "Parse_AAC_Policy": {
                                                    "inputs": {
                                                        "content": "@body('Get_AAC_Policy')",
                                                        "schema": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "properties": {
                                                                    "properties": {
                                                                        "configurationStatus": {
                                                                            "type": "string"
                                                                        },
                                                                        "enforcementMode": {
                                                                            "type": "string"
                                                                        },
                                                                        "issues": {
                                                                            "type": "array"
                                                                        },
                                                                        "location": {
                                                                            "type": "string"
                                                                        },
                                                                        "pathRecommendations": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "action": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "common": {
                                                                                        "type": "boolean"
                                                                                    },
                                                                                    "configurationStatus": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "fileType": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "path": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "publisherInfo": {
                                                                                        "properties": {
                                                                                            "binaryName": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "productName": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "publisherName": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "version": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "userSids": {
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "usernames": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "recommendationAction": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "username": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "username",
                                                                                                "recommendationAction"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "path",
                                                                                    "type",
                                                                                    "common",
                                                                                    "action",
                                                                                    "usernames",
                                                                                    "userSids",
                                                                                    "fileType",
                                                                                    "configurationStatus"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "protectionMode": {
                                                                            "properties": {
                                                                                "exe": {
                                                                                    "type": "string"
                                                                                },
                                                                                "msi": {
                                                                                    "type": "string"
                                                                                },
                                                                                "script": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "recommendationStatus": {
                                                                            "type": "string"
                                                                        },
                                                                        "sourceSystem": {
                                                                            "type": "string"
                                                                        },
                                                                        "vmRecommendations": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "configurationStatus": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "enforcementSupport": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "recommendationAction": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "recommendedDates": {
                                                                                        "type": "array"
                                                                                    },
                                                                                    "resourceId": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "configurationStatus",
                                                                                    "resourceId",
                                                                                    "recommendationAction",
                                                                                    "recommendedDates",
                                                                                    "enforcementSupport"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_AAC_Policy": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson"
                                                },
                                                "Set_AAC": {
                                                    "inputs": {
                                                        "name": "groupdata",
                                                        "value": "@body('Parse_AAC_Policy')?['properties']?['pathRecommendations']"
                                                    },
                                                    "runAfter": {
                                                        "Parse_AAC_Policy": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable"
                                                },
                                                "Set_GroupName": {
                                                    "inputs": {
                                                        "name": "groupname",
                                                        "value": "@items('ForEach_AAC_Group')?['id']"
                                                    },
                                                    "runAfter": {},
                                                    "type": "SetVariable"
                                                },
                                                "Set_Path_Recommendations": {
                                                    "inputs": {
                                                        "name": "pathrecommendations",
                                                        "value": "@variables('groupdata')"
                                                    },
                                                    "runAfter": {
                                                        "For_Each_File": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable"
                                                },
                                                "Update_AAC_Group": {
                                                    "inputs": {
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": "@outputs('Build_Updated_JSON')",
                                                        "method": "PUT",
                                                        "uri": "https://management.azure.com/@{variables('groupname')}?api-version=2015-06-01-preview"
                                                    },
                                                    "runAfter": {
                                                        "Build_Updated_JSON": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http"
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('ForEach_VM_Recommendation')?['resourceId']",
                                                            "@variables('resourceid')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "runAfter": {},
                                            "type": "If"
                                        }
                                    },
                                    "foreach": "@items('ForEach_AAC_Group')?['properties']?['vmRecommendations']",
                                    "runAfter": {
                                        "Search_ResourceID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Search_ResourceID": {
                                    "inputs": {
                                        "name": "grouparry",
                                        "value": "@items('ForEach_AAC_Group')?['properties']?['vmRecommendations']"
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            },
                            "foreach": "@body('Parse_AAC_Groups')?['value']",
                            "runAfter": {
                                "Parse_AAC_Groups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_AAC_Groups": {
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions/@{variables('suubscriptionid')}/providers/Microsoft.Security/applicationWhitelistings?api-version=2015-06-01-preview"
                            },
                            "runAfter": {
                                "PathRecommendations": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "GroupArray": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "grouparry",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "SubscriptionID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "GroupData": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "groupdata",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "GroupName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "GroupName": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "groupname",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "GroupArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Parse_AAC_Groups": {
                            "inputs": {
                                "content": "@body('Get_AAC_Groups')",
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "configurationStatus": {
                                                                "type": "string"
                                                            },
                                                            "enforcementMode": {
                                                                "type": "string"
                                                            },
                                                            "issues": {
                                                                "type": "array"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "pathRecommendations": {
                                                                "type": "array"
                                                            },
                                                            "protectionMode": {
                                                                "properties": {
                                                                    "exe": {
                                                                        "type": "string"
                                                                    },
                                                                    "msi": {
                                                                        "type": "string"
                                                                    },
                                                                    "script": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "recommendationStatus": {
                                                                "type": "string"
                                                            },
                                                            "sourceSystem": {
                                                                "type": "string"
                                                            },
                                                            "vmRecommendations": {
                                                                "items": {
                                                                    "properties": {
                                                                        "configurationStatus": {
                                                                            "type": "string"
                                                                        },
                                                                        "enforcementSupport": {
                                                                            "type": "string"
                                                                        },
                                                                        "recommendationAction": {
                                                                            "type": "string"
                                                                        },
                                                                        "recommendedDates": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "resourceId": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "configurationStatus",
                                                                        "resourceId",
                                                                        "recommendationAction",
                                                                        "recommendedDates",
                                                                        "enforcementSupport"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name",
                                                    "type",
                                                    "location",
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Get_AAC_Groups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Path": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "path",
                                        "type": "object"
                                    }
                                ]
                            },
                            "runAfter": {
                                "GroupData": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "PathRecommendations": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "pathrecommendations",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "FilePath": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "ResourceID": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceid",
                                        "type": "string",
                                        "value": "@{triggerBody()?['Entities']?[0]?['AzureID']}"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "ResourceIDArray": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceidarray",
                                        "type": "array",
                                        "value": "@split(variables('resourceid'),'/')"
                                    }
                                ]
                            },
                            "runAfter": {
                                "ResourceID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "SubscriptionID": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "suubscriptionid",
                                        "type": "string",
                                        "value": "@{variables('resourceidarray')?[2]}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "ResourceIDArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Alert_is_created_or_triggered": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascalert']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Alert/subscribe"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascalert": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]",
                                "connectionName": "[variables('ascalertConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}