Workflow automation/ScheduledScan-Storage/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
        "metadata":{
        "comments": "The Logic App uses a scheduler and a Managed System Identity (MSI) to authenticate and execute a malware scan on the storage accounts. The results are sent via email using the Outlook connector.",
        "author": "Fernanda Vela"
    },    
    "parameters": {
        "LogicAppName": {
            "defaultValue": "ScheduledScan-Storage",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "metadata": {
                "description": "User name for the Office 365 connection used to send emails"
            },
            "type": "string"
        },
        "SendToEmail": {
            "defaultValue": "sendtoemail@<domain>",
            "metadata": {
                "description": "Email address to send the scan results"
            },
            "type": "string"
        },
        "storageAccounts": {
            "defaultValue": ["StorageAccount1", "StorageAccount2"],
            "metadata": {
                "description": "List of storage accounts to scan"
            },
            "type": "array"
        }
    },
    "variables": {
        "office365ConnectionName": "[concat('office365-', parameters('LogicAppName'))]"  
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "emailcontact": {
                            "defaultValue": "[parameters('SendToEmail')]",
                            "type": "String"
                        },
                        "storageAccounts": {
                            "defaultValue": "[parameters('storageAccounts')]",
                            "type": "Array"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 1,
                                "frequency": "Week",
                                "schedule": {
                                    "hours": [
                                        6
                                    ],
                                    "weekDays": [
                                        "Monday"
                                    ]
                                }
                            },
                            "evaluatedRecurrence": {
                                "interval": 1,
                                "frequency": "Week",
                                "schedule": {
                                    "hours": [
                                        6
                                    ],
                                    "weekDays": [
                                        "Monday"
                                    ]
                                }
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@parameters('storageAccounts')",
                            "actions": {
                                "InvokeOnDemandScan": {
                                    "runAfter": {
                                        "ListStorageAccounts": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://management.azure.com/subscriptions/@{body('ListStorageAccounts')?['data'][0]?['subscriptionId']}/resourceGroups/@{body('ListStorageAccounts')?['data'][0]?['resourceGroup']}/providers/Microsoft.Storage/storageAccounts/@{items('For_each')}/providers/Microsoft.Security/defenderForStorageSettings/current/StartMalwareScan?api-version=2024-10-01-preview",
                                        "method": "POST",
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Until": {
                                    "actions": {
                                        "checkondemandstatus": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://management.azure.com/subscriptions/@{body('ListStorageAccounts')?['data'][0]?['subscriptionId']}/resourceGroups/@{body('ListStorageAccounts')?['data'][0]?['resourceGroup']}/providers/Microsoft.Storage/storageAccounts/@{items('For_each')}/providers/Microsoft.Security/defenderForStorageSettings/current/malwareScans/@{body('InvokeOnDemandScan')?['scanId']}?api-version=2024-10-01-preview",
                                                "method": "GET",
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "InvokeOnDemandScan": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@equals(body('checkondemandstatus')?['scanStatus'],'Completed')",
                                    "limit": {
                                        "count": 60,
                                        "timeout": "PT1H"
                                    },
                                    "type": "Until"
                                },
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Compose": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "scanresults",
                                        "value": "@outputs('Compose')"
                                    }
                                },
                                "Compose": {
                                    "runAfter": {
                                        "Until": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "storageName": "@{items('For_each')}",
                                        "totalBlobsScanned": "@{body('checkondemandstatus')?['scanSummary']?['blobs']?['totalBlobsScanned']}",
                                        "maliciousBlobsCount": "@{body('checkondemandstatus')?['scanSummary']?['blobs']?['maliciousBlobsCount']}",
                                        "skippedBlobsCount": "@{body('checkondemandstatus')?['scanSummary']?['blobs']?['skippedBlobsCount']}",
                                        "scannedBlobsInGB": "@{body('checkondemandstatus')?['scanSummary']?['blobs']?['scannedBlobsInGB']}",
                                        "estimatedScanCostUSD": "@{body('checkondemandstatus')?['scanSummary']?['estimatedScanCostUSD']}"
                                    }
                                },
                                "ListStorageAccounts": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
                                        "method": "POST",
                                        "body": {
                                            "query": "Resources | where type == 'microsoft.storage/storageaccounts' and name == '@{items('For_each')}' | project resourceGroup, subscriptionId"
                                        },
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_scan_results": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_variable_scan_results": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "scanresults",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Create_HTML_table": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "from": "@variables('scanresults')",
                                "format": "HTML"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Create_HTML_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@parameters('emailcontact')",
                                    "Subject": "Weekly Malware Scan Results",
                                    "Body": "<p class=\"editor-paragraph\">These are the weekly defender for storage malware scan results.</p><p class=\"editor-paragraph\">Be sure to check security incidents.</p><br><p class=\"editor-paragraph\">@{body('Create_HTML_table')}</p>",
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}