Workflow automation/Notify-MDCRecommendationChangeActivity/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This Logic App for Workflow Automations will notify MDC generated recommendation to GRC team and recent users within last 24 hours that made changes to the Azure Resource.",
        "author": "Nathan Swift"
    },  
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Notify-MDCRecommendationChangeActivity",
            "type": "string"
        },
        "Sender": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "ComplianceEmailAddress": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "ASCAssessmentConnectionName": "[concat('ascassessment-', parameters('LogicAppName'))]",
        "office365ConnectionName": "[concat('office365-', parameters('LogicAppName'))]" 
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ASCAssessmentConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('Sender')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('Sender')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('ASCAssessmentConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "GRCEmail": {
                            "defaultValue": "[parameters('ComplianceEmailAddress')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_Microsoft_Defender_for_Cloud_recommendation_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascassessment']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Assessment/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Send_an_email_w_change_activity": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>Microsoft Defender for Cloud has discovered a potential security vulnerability in your environment - Recommendation details below:<br>\n<br>\nAffected Resource: @{split(variables('AzureResourceId'), '/')[8]}<br>\n<br>\nRecommendation name: @{triggerBody()?['properties']?['displayName']}<br>\n<br>\nStatus: @{triggerBody()?['properties']?['status']?['code']}<br>\n<br>\nDescription: @{triggerBody()?['properties']?['metadata']?['description']}<br>\n<br>\nResource type (Azure/Non-Azure): @{triggerBody()?['properties']?['resourceDetails']?['source']}<br>\n<br>\nRemediation steps: @{triggerBody()?['properties']?['metadata']?['remediationDescription']}<br>\n<br>\nResource ID: @{triggerBody()?['properties']?['resourceDetails']?['id']}<br>\n<br>\n@{variables('MDCRecommendationURL')}<br>\n<br>\nChanges in last 24 hours:<br>\n@{body('Create_HTML_table')}<br>\n<br>\n@{variables('ChangeAnalysisUrl')}</p>",
                                            "Cc": "@variables('ChangeNotificationAddresses')",
                                            "Importance": "High",
                                            "Subject": "Microsoft Defender for Cloud Recommendation for your resource",
                                            "To": "@parameters('GRCEmail')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    },
                                    "description": "send email to grc, folks in change analysis and send change analysis links"
                                }
                            },
                            "runAfter": {
                                "Set_MDCRecommendationURL": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Send_an_email_wo_change_activity": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Body": "<p>Microsoft Defender for Cloud has discovered a potential security vulnerability in your environment - Recommendation details below:<br>\n<br>\nAffected Resource: @{split(variables('AzureResourceId'), '/')[8]}<br>\n<br>\nRecommendation name: @{triggerBody()?['properties']?['displayName']}<br>\n<br>\nStatus: @{triggerBody()?['properties']?['status']?['code']}<br>\n<br>\nDescription: @{triggerBody()?['properties']?['metadata']?['description']}<br>\n<br>\nResource type (Azure/Non-Azure): @{triggerBody()?['properties']?['resourceDetails']?['source']}<br>\n<br>\nRemediation steps: @{triggerBody()?['properties']?['metadata']?['remediationDescription']}<br>\n<br>\nResource ID: @{triggerBody()?['properties']?['resourceDetails']?['id']}<br>\n<br>\n@{variables('MDCRecommendationURL')}<br>\n<br>\nNo Changes in last 24 hours: (try using change analysis in Azure monitor using a further date range)<br>\n@{body('Create_HTML_table')}</p>",
                                                "Cc": "@variables('ChangeNotificationAddresses')",
                                                "Importance": "High",
                                                "Subject": "Microsoft Defender for Cloud Recommendation for your resource",
                                                "To": "@parameters('GRCEmail')"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/Mail"
                                        },
                                        "description": "send email to grc, no change analysis found no link sent"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('ChangeTable')",
                                                "@variables('nullArray')"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If",
                            "description": "conditional check for html table if it is not null and contains change activities"
                        },
                        "Create_HTML_table": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "format": "HTML",
                                "from": "@variables('ChangeTable')"
                            },
                            "description": "convert array of flat json change activity events into html table"
                        },
                        "Current_time": {
                            "runAfter": {},
                            "type": "Expression",
                            "kind": "CurrentTime",
                            "inputs": {},
                            "description": "Used for Change Analysis API as end time"
                        },
                        "For_each": {
                            "foreach": "@body('GetChangeAnalysis')?['value']",
                            "actions": {
                                "Append_to_ChangeTable": {
                                    "runAfter": {
                                        "Compose": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "ChangeTable",
                                        "value": "@outputs('Compose')"
                                    },
                                    "description": "add new flat json activity to array for conversion to html"
                                },
                                "Check_for_Unique_Email_Address": {
                                    "actions": {
                                        "Append_to_ChangeNotificationAddresses": {
                                            "runAfter": {},
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "ChangeNotificationAddresses",
                                                "value": "@{items('For_each')?['properties']?['initiatedByList'][0]} ; "
                                            },
                                            "description": "unique email added to email notification for CC"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@items('For_each')?['properties']?['initiatedByList'][0]",
                                                    "@"
                                                ]
                                            },
                                            {
                                                "not": {
                                                    "contains": [
                                                        "@variables('ChangeNotificationAddresses')",
                                                        "@items('For_each')?['properties']?['initiatedByList'][0]"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If",
                                    "description": "conditional check for presecne of activity identity if email and unique add to string for cc"
                                },
                                "Compose": {
                                    "runAfter": {
                                        "Check_for_Unique_Email_Address": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "Change Type": "@{body('Parse_JSON')?['changeType']}",
                                        "Changes": "@{body('Parse_JSON')?['oldValue']} - NOW - @{body('Parse_JSON')?['newValue']}",
                                        "Description": "@{body('Parse_JSON')?['description']}",
                                        "Initiated By": "@{items('For_each')?['properties']?['initiatedByList'][0]}",
                                        "Resource Property": "@{body('Parse_JSON')?['displayName']}",
                                        "Time Stamp": "@items('For_each')?['properties']?['timeStamp']"
                                    },
                                    "description": "create new flat json object with change analysis details for html table"
                                },
                                "Parse_JSON": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each')?['properties']?['propertyChanges'][0]",
                                        "schema": {
                                            "properties": {
                                                "changeCategory": {
                                                    "type": "string"
                                                },
                                                "changeType": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "isDataMasked": {
                                                    "type": "boolean"
                                                },
                                                "jsonPath": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "newValue": {
                                                    "type": "string"
                                                },
                                                "oldValue": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "description": "parse json of the change property json object"
                                }
                            },
                            "runAfter": {
                                "GetChangeAnalysis": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "description": "for each activity add it into the html table, and if user add into email address to cc",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "GetChangeAnalysis": {
                            "runAfter": {
                                "Set_ChangeTable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "POST",
                                "uri": "https://management.azure.com/subscriptions/@{split(variables('AzureResourceId'), '/')[2]}/providers/Microsoft.ChangeAnalysis/resourceChanges?api-version=2021-04-01-preview&%24resourceId=@{variables('AzureResourceId')}&%24startTime=@{body('Get_past_time')}&%24endTime=@{body('Current_time')}"
                            },
                            "description": "lookup 24hrs past change activities from change analysis api"
                        },
                        "Get_past_time": {
                            "runAfter": {
                                "Current_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Expression",
                            "kind": "GetPastTime",
                            "inputs": {
                                "interval": 1,
                                "timeUnit": "Day"
                            },
                            "description": "Used for Change Analysis API as start time"
                        },
                        "Set_AzureResourceId": {
                            "runAfter": {
                                "Get_past_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AzureResourceId",
                                        "type": "string",
                                        "value": "@triggerBody()?['properties']?['resourceDetails']?['id']"
                                    }
                                ]
                            },
                            "description": "used in url links and for lookups in api "
                        },
                        "Set_ChangeAnalysisUrl": {
                            "runAfter": {
                                "Create_HTML_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ChangeAnalysisUrl",
                                        "type": "string",
                                        "value": "<a href=https://portal.azure.com/#blade/Microsoft_Azure_ChangeAnalysis/ChangeDetailsTemplateBladeV2/resourceId/@{variables('UrlEncodeAzResourceId')}/startTime/@{body('Get_past_time')}/endTime/@{body('Current_time')}/changeLevels/important,normal/changeTypes/Add,Update,Remove/deepLinkOrigin/shareLink>Link to Change Analysis</a>"
                                    }
                                ]
                            },
                            "description": "change analysis url to click to see side by side changes on azure resource"
                        },
                        "Set_ChangeNotificationAddresses": {
                            "runAfter": {
                                "Set_UrlEncodeAzResourceId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ChangeNotificationAddresses",
                                        "type": "string"
                                    }
                                ]
                            },
                            "description": "used for collecting user email addresses from change activity to CC"
                        },
                        "Set_ChangeTable": {
                            "runAfter": {
                                "Set_ChangeNotificationAddresses": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ChangeTable",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "description": "used for change analysis activities discovered"
                        },
                        "Set_MDCRecommendationURL": {
                            "runAfter": {
                                "Set_nullArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "MDCRecommendationURL",
                                        "type": "string",
                                        "value": "<a href=https://@{triggerBody()?['properties']?['links']?['azurePortalUri']}>Link to view the recommendation in Defender for Cloud</a>"
                                    }
                                ]
                            },
                            "description": "url is azure resource mdc recommendation url to click directly to"
                        },
                        "Set_UrlEncodeAzResourceId": {
                            "runAfter": {
                                "Set_AzureResourceId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UrlEncodeAzResourceId",
                                        "type": "string",
                                        "value": "@{replace(variables('AzureResourceId'), '/', '%2F')}"
                                    }
                                ]
                            },
                            "description": "update azure resource id for url encoding for proper link to change analysis url"
                        },
                        "Set_nullArray": {
                            "runAfter": {
                                "Set_ChangeAnalysisUrl": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "nullArray",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "description": "null arry used to check condition matching of html table if empty"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            },
                            "ascassessment": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ASCAssessmentConnectionName'))]",
                                "connectionName": "[variables('ASCAssessmentConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}