Workflow automation/BlockBruteforceAttack/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Block-BruteForceAttack",
            "type": "String"
        },
        "SenderAddress": {
            "type": "string",
            "metadata": {
                "displayName": "Enter the sender's email address",
                "description": "Enter the sender's email address. Make sure to use an account which can authorize the API connection after deploying this automation artifact."
                }
        },
        "recipientAddress": {
            "type": "string",
            "metadata": {
                "displayName": "Enter the recipient's email address",
                "description": "Enter the recipient's email address"
                }
        }
    },
    "variables": {
        "o365ConnectionName" : "office365",
        "ascalertConnectionname" : "ascalert"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ascalertConnectionname')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "Security Center Alert",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', variables('ascalertConnectionname'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('o365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('SenderAddress')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location ,'/managedApis/', variables('o365ConnectionName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionname'))]",
                "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Alert_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascalert']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Alert/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_alert_body')?['entities']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Append_to_array_variable": {
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "attackerIPs",
                                                "value": "@body('Parse_entities')?['address']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_entities": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('Parse_entities')?['address']",
                                                        null
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition_2": {
                                    "actions": {
                                        "Set_variable": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "resourceID",
                                                "value": "@body('Parse_resource_ID')?['azureID']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_resource_ID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('Parse_resource_ID')?['azureID']",
                                                        null
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Parse_entities": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "properties": {
                                                "$id": {
                                                    "type": "string"
                                                },
                                                "address": {
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "properties": {
                                                        "asn": {
                                                            "type": "integer"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "countryCode": {
                                                            "type": "string"
                                                        },
                                                        "countryName": {
                                                            "type": "string"
                                                        },
                                                        "latitude": {
                                                            "type": "number"
                                                        },
                                                        "longitude": {
                                                            "type": "number"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Parse_resource_ID": {
                                    "runAfter": {
                                        "Condition": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "properties": {
                                                "$id": {
                                                    "type": "string"
                                                },
                                                "azureID": {
                                                    "type": "string"
                                                },
                                                "hostName": {
                                                    "type": "string"
                                                },
                                                "omsAgentID": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_alert_body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP": {
                            "runAfter": {
                                "Until": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "properties": {
                                        "access": "Deny",
                                        "destinationAddressPrefix": "@{variables('privateIP')}",
                                        "destinationPortRange": "*",
                                        "direction": "Inbound",
                                        "priority": "@variables('rulePriority')",
                                        "protocol": "*",
                                        "sourceAddressPrefixes": "@variables('attackerIPs')",
                                        "sourcePortRange": "*"
                                    }
                                },
                                "method": "PUT",
                                "uri": "https://management.azure.com@{variables('NSG')}/securityRules/BlockBruteForce-@{variables('rulePriority')}?api-version=2020-05-01"
                            }
                        },
                        "HTTP_-_Get_Azure_VM": {
                            "runAfter": {
                                "Initialize_subscription_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/@{variables('resourceID')}/?api-version=2019-12-01"
                            }
                        },
                        "HTTP_-_Get_NSG_rules": {
                            "runAfter": {
                                "Initialize_private_IP_address": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com@{variables('NSG')}/securityRules?api-version=2020-05-01"
                            }
                        },
                        "HTTP_-_Get_network_interface": {
                            "runAfter": {
                                "Initialize_network_interface": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/@{variables('NIC')}?api-version=2020-05-01"
                            }
                        },
                        "Initialize_NSG": {
                            "runAfter": {
                                "HTTP_-_Get_network_interface": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "NSG",
                                        "type": "string",
                                        "value": "@{body('HTTP_-_Get_network_interface')?['properties']?['networkSecurityGroup']?['id']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_NSG_rule_priority": {
                            "runAfter": {
                                "Initialize_attackerIPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "rulePriority",
                                        "type": "integer",
                                        "value": 100
                                    }
                                ]
                            }
                        },
                        "Initialize_attackerIPs": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attackerIPs",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_counter": {
                            "runAfter": {
                                "Initialize_existing_rule_priorities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "counter",
                                        "type": "integer",
                                        "value": "@variables('rulePriority')"
                                    }
                                ]
                            }
                        },
                        "Initialize_email_body": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "emailBody",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_existing_rule_priorities": {
                            "runAfter": {
                                "Parse_NSG_rules": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "existingRulePriorities",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_network_interface": {
                            "runAfter": {
                                "Parse_Azure_VM": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "NIC",
                                        "type": "string",
                                        "value": "@{body('HTTP_-_Get_Azure_VM')?['properties']?['networkProfile']?['networkInterfaces']?[0]?['id']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_private_IP_address": {
                            "runAfter": {
                                "Initialize_NSG": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "privateIP",
                                        "type": "string",
                                        "value": "@{body('HTTP_-_Get_network_interface')?['properties']?['ipConfigurations']?[0]?['properties']?['privateIPAddress']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_resource_ID": {
                            "runAfter": {
                                "Initialize_NSG_rule_priority": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_subscription_ID": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SubID",
                                        "type": "string",
                                        "value": "@{substring(variables('resourceID'),15,36)}"
                                    }
                                ]
                            }
                        },
                        "Parse_Azure_VM": {
                            "runAfter": {
                                "HTTP_-_Get_Azure_VM": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_-_Get_Azure_VM')",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "identity": {
                                                    "properties": {
                                                        "principalId": {
                                                            "type": "string"
                                                        },
                                                        "tenantId": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "location": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "properties": {
                                                    "properties": {
                                                        "diagnosticsProfile": {
                                                            "properties": {
                                                                "bootDiagnostics": {
                                                                    "properties": {
                                                                        "enabled": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "storageUri": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "hardwareProfile": {
                                                            "properties": {
                                                                "vmSize": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "networkProfile": {
                                                            "properties": {
                                                                "networkInterfaces": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "osProfile": {
                                                            "properties": {
                                                                "adminUsername": {
                                                                    "type": "string"
                                                                },
                                                                "allowExtensionOperations": {
                                                                    "type": "boolean"
                                                                },
                                                                "computerName": {
                                                                    "type": "string"
                                                                },
                                                                "linuxConfiguration": {
                                                                    "properties": {
                                                                        "disablePasswordAuthentication": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "provisionVMAgent": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "secrets": {
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "provisioningState": {
                                                            "type": "string"
                                                        },
                                                        "storageProfile": {
                                                            "properties": {
                                                                "dataDisks": {
                                                                    "type": "array"
                                                                },
                                                                "imageReference": {
                                                                    "properties": {
                                                                        "exactVersion": {
                                                                            "type": "string"
                                                                        },
                                                                        "offer": {
                                                                            "type": "string"
                                                                        },
                                                                        "publisher": {
                                                                            "type": "string"
                                                                        },
                                                                        "sku": {
                                                                            "type": "string"
                                                                        },
                                                                        "version": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "osDisk": {
                                                                    "properties": {
                                                                        "caching": {
                                                                            "type": "string"
                                                                        },
                                                                        "createOption": {
                                                                            "type": "string"
                                                                        },
                                                                        "diskSizeGB": {
                                                                            "type": "integer"
                                                                        },
                                                                        "managedDisk": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "storageAccountType": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "osType": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "vmId": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "autoUpgradeMinorVersion": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "publisher": {
                                                                        "type": "string"
                                                                    },
                                                                    "settings": {
                                                                        "properties": {},
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "typeHandlerVersion": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "type",
                                                            "location",
                                                            "properties"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "tags": {
                                                    "properties": {},
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Cache-Control": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Date": {
                                                    "type": "string"
                                                },
                                                "Expires": {
                                                    "type": "string"
                                                },
                                                "Pragma": {
                                                    "type": "string"
                                                },
                                                "Server": {
                                                    "type": "string"
                                                },
                                                "Strict-Transport-Security": {
                                                    "type": "string"
                                                },
                                                "Transfer-Encoding": {
                                                    "type": "string"
                                                },
                                                "Vary": {
                                                    "type": "string"
                                                },
                                                "X-Content-Type-Options": {
                                                    "type": "string"
                                                },
                                                "x-ms-correlation-request-id": {
                                                    "type": "string"
                                                },
                                                "x-ms-ratelimit-remaining-resource": {
                                                    "type": "string"
                                                },
                                                "x-ms-ratelimit-remaining-subscription-reads": {
                                                    "type": "string"
                                                },
                                                "x-ms-request-id": {
                                                    "type": "string"
                                                },
                                                "x-ms-routing-request-id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_NSG_rules": {
                            "runAfter": {
                                "HTTP_-_Get_NSG_rules": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_-_Get_NSG_rules')",
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "etag": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "access": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "destinationAddressPrefix": {
                                                                "type": "string"
                                                            },
                                                            "destinationAddressPrefixes": {
                                                                "type": "array"
                                                            },
                                                            "destinationPortRange": {
                                                                "type": "string"
                                                            },
                                                            "destinationPortRanges": {
                                                                "type": "array"
                                                            },
                                                            "direction": {
                                                                "type": "string"
                                                            },
                                                            "priority": {
                                                                "type": "integer"
                                                            },
                                                            "protocol": {
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "type": "string"
                                                            },
                                                            "sourceAddressPrefix": {
                                                                "type": "string"
                                                            },
                                                            "sourceAddressPrefixes": {
                                                                "type": "array"
                                                            },
                                                            "sourcePortRange": {
                                                                "type": "string"
                                                            },
                                                            "sourcePortRanges": {
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "id",
                                                    "etag",
                                                    "type",
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_alert_body": {
                            "runAfter": {
                                "Initialize_resource_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "alertDisplayName": {
                                            "type": "string"
                                        },
                                        "alertUri": {
                                            "type": "string"
                                        },
                                        "compromisedEntity": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "endTimeUtc": {
                                            "type": "string"
                                        },
                                        "entities": {
                                            "items": {
                                                "properties": {
                                                    "$id": {
                                                        "type": "string"
                                                    },
                                                    "address": {
                                                        "type": "string"
                                                    },
                                                    "azureID": {
                                                        "type": "string"
                                                    },
                                                    "host": {
                                                        "properties": {
                                                            "$ref": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "hostName": {
                                                        "type": "string"
                                                    },
                                                    "isDomainJoined": {
                                                        "type": "boolean"
                                                    },
                                                    "location": {
                                                        "properties": {
                                                            "asn": {
                                                                "type": "integer"
                                                            },
                                                            "city": {
                                                                "type": "string"
                                                            },
                                                            "countryCode": {
                                                                "type": "string"
                                                            },
                                                            "countryName": {
                                                                "type": "string"
                                                            },
                                                            "latitude": {
                                                                "type": "number"
                                                            },
                                                            "longitude": {
                                                                "type": "number"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "ntDomain": {
                                                        "type": "string"
                                                    },
                                                    "omsAgentID": {
                                                        "type": "string"
                                                    },
                                                    "sourceAddress": {
                                                        "properties": {
                                                            "$ref": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "$id",
                                                    "type"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "extendedProperties": {
                                            "properties": {
                                                "accounts used on failed sign in to host attempts": {
                                                    "type": "string"
                                                },
                                                "end Time UTC": {
                                                    "type": "string"
                                                },
                                                "killChainIntent": {
                                                    "type": "string"
                                                },
                                                "number of failed authentication attempts to host": {
                                                    "type": "string"
                                                },
                                                "resourceType": {
                                                    "type": "string"
                                                },
                                                "was SSH session initiated": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "isIncident": {
                                            "type": "boolean"
                                        },
                                        "remediationSteps": {
                                            "type": "string"
                                        },
                                        "resourceIdentifiers": {},
                                        "severity": {
                                            "type": "string"
                                        },
                                        "startTimeUtc": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "systemAlertId": {
                                            "type": "string"
                                        },
                                        "timeGenerated": {
                                            "type": "string"
                                        },
                                        "vendorName": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Set_email_body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{variables('emailBody')}</p>",
                                    "Subject": "Brute force attack stopped by Azure Security Center",
                                    "To": "[parameters('recipientAddress')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Set_email_body": {
                            "runAfter": {
                                "Initialize_email_body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "emailBody",
                                "value": "<style type=\"text/css\">\n\th1 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 32px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 30px;\n\t}\n\n\th2 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 20px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 15px;\n\t}\n\n\th3 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 22px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 23.1px;\n\t}\n\n\tp {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 16px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 400;\n\t\tline-height: 20px;\n\t}\n</style>\n<table align=\"center\" border=\"0\" cellpadding=\"1\" cellspacing=\"1\" style=\"width:800px;\">\n\t<tbody>\n\t\t<tr>\n\t\t\t<th style=\"text-align:center; width:735px\">\n\t\t\t\t<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 550px;\">\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td><img src=\"https://raw.githubusercontent.com/Azure/Azure-Security-Center/master/.github/images/asc.png\" alt=\"\" width=\"125\" height=\"125\" /></td>\n\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t<h1 style=\"text-align: left;\">Azure Security Center</h1>\n\t\t\t\t\t\t\t\t<h2 style=\"text-align: left;\">Brute force attack blocked!</h2>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</th>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t<p style=\"text-align: center;\">Azure Security Center has detected a <strong>@{body('Parse_alert_body')?['alertDisplayName']}</strong> on your machine <strong>@{body('Parse_alert_body')?['compromisedEntity']}</strong>. The attack was stopped by blocking the attacking IP address(es) in the VM's Network Security Group (NSG). Please review the VM's network configuration and change it if necessary.</p>\n\t\t\t</td>\n\t\t</tr>\n<tr><td>&nbsp;</td></tr>\n\t\t<tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Resource details</h3>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 750px;\">\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Resource name</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{body('Parse_alert_body')?['compromisedEntity']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Subscription ID</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{variables('SubID')}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Resource type</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{body('Parse_Azure_VM')?['body']?['type']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Resource location</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{body('Parse_Azure_VM')?['body']?['location']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</td>\n\t\t</tr>\n<tr><td>&nbsp;</td></tr>\n        <tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Alert information</h3>\n\t\t\t</td>\n        </tr>\n        <td style=\"width:735px\">\n\t\t\t\t<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 750px;\">\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Alert name</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{body('Parse_alert_body')?['alertDisplayName']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Description</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{body('Parse_alert_body')?['description']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Alert severity</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{body('Parse_alert_body')?['severity']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</td>\n        </tr>\n<tr><td>&nbsp;</td></tr>\n        <tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Action items</h3>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t<ol>\n\t\t\t\t\t<li>\n\t\t\t\t\t\t<p>Click <a href=\"@{body('Parse_alert_body')?['alertUri']}\">here</a> to open the alert&rsquo;s details page in Azure Defender.</p>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\t<p>Review the remediation steps and resolve all the issues.</p>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\t<p>If any alert isn&rsquo;t applicable to your resource, a security administrator can\n\t\t\t\t\t\t\tsuppress further alerts by following the instructions <a href=\"https://docs.microsoft.com/en-us/azure/security-center/alerts-suppression-rules\">here</a>.\n\t\t\t\t\t\t</p>\n\t\t\t\t\t</li>\n\t\t\t\t</ol>\n\t\t\t</td>\n\t\t</tr>\n\t</tbody>\n</table>"
                            }
                        },
                        "Until": {
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@body('Parse_NSG_rules')?['value']",
                                    "actions": {
                                        "Condition_4": {
                                            "actions": {
                                                "Increment_NSG_rule_priority": {
                                                    "runAfter": {},
                                                    "type": "IncrementVariable",
                                                    "inputs": {
                                                        "name": "rulePriority"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each_2')?['properties']?['priority']",
                                                            "@variables('rulePriority')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Set_counter": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Set_counter": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "counter",
                                        "value": "@variables('rulePriority')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_counter": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('rulePriority'), variables('counter'))",
                            "limit": {
                                "count": 60,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascalert": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionname'))]",
                                "connectionName": "ascalert",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}