Pricing & Settings/Continuous export/Export-ASCQualysVulnerabities/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "This playbook is for continuous export.  It will export Qualys vulnerability details to a Log analytics workspace",
        "author": "Yaniv Shasha"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Export-ASCQualysVulnerabities",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "LogAConnectionName": "[concat('azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('LogAConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('LogAConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "For_each": {
                            "actions": {
                                "Send_Data": {
                                    "inputs": {
                                        "body": "{\n\"resourceGroup\":\"@{items('For_each')?[0]}\",\n\"subscriptionId\":\"@{items('For_each')?[1]}\",\n\"host\":\"@{items('For_each')?[2]}\",\n\"CVE\":\"@{replace(items('For_each')?[3],'\"', '\\\\')}\",\n\"cvss\":\"@{replace(items('For_each')?[4],'\"', '\\\\')}\",\n\"description\":\"@{replace(items('For_each')?[5],'\"', '\\\\')}\",\n\"displayName\":\"@{replace(items('For_each')?[6],'\"', '\\\\')}\",\n\"vendorReferences\":\"@{replace(items('For_each')?[7],'\"', '\\\\')}\",\n\"severity\":\"@{replace(items('For_each')?[10],'\"', '\\\\')}\",\n\"threat\":\"@{first(split(items('For_each')?[9], '<'))}\",\n\"code\":\"@{replace(items('For_each')?[11],'\"', '\\\\')}\",\n\"impact\":\"@{replace(items('For_each')?[13],'\"', '\\\\')}\",\n\"vlunId\":\"@{replace(items('For_each')?[14],'\"', '\\\\')}\",\n\"resourceId\":\"@{replace(items('For_each')?[15],'\"', '\\\\')}\"\n\n}\n\n",
                                        "headers": {
                                            "Log-Type": "ASCVA",
                                            "time-generated-field": "@{utcNow()}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/logs"
                                    },
                                    "runAfter": {
                                    },
                                    "type": "ApiConnection"
                                }
                            },
                            "foreach": "@body('Parse_JSON')?['data']?['rows']",
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP": {
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "ResultFormat": "table",
                                    "query": "securityresources| where type == 'microsoft.security/assessments'| where * contains 'Remediate vulnerabilities found on your virtual machines (powered by Qualys)'| summarize by assessmentKey=name| join kind=inner (securityresources| where type =='microsoft.security/assessments/subassessments'|extend assessmentKey = extract('.*assessments/(.+?)/.*',1,  id)) on assessmentKey| extend b =tostring(properties.additionalData.cvss) | extend VM =tolower(extract(@'(.*?)virtualMachines/(.+?)/.*',2,  id))|extend cve=tostring(properties.additionalData.cve)|extend vendorReferences=tostring(properties.additionalData.vendorReferences)|extend publishedTime=tostring(properties.additionalData.publishedTime)|extend threat=tostring(properties.additionalData.threat)|extend description=tostring(properties.description)|extend remediation=tostring(properties.remediation)|extend impact=tostring(properties.impact)|extend vlunId=tostring(properties.id)|extend severity=tostring(properties.status.severity)|extend code=tostring(properties.status.code)|extend displayName=tostring(properties.displayName)|extend resourceId = id|project resourceGroup,subscriptionId,VM,cve,b,description,displayName,vendorReferences,publishedTime,threat,severity,code,remediation,impact,vlunId,resourceId",
                                    "subscriptions": [
                                        "@{variables('Subscription')}"
                                    ]
                                },
                                "headers": {
                                    "content-type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2019-04-01"
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Initialize_variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Subscription",
                                        "type": "string",
                                        "value": "[subscription().subscriptionId]"
                                    }
                                ]
                            },
                            "runAfter": {
                            },
                            "type": "InitializeVariable"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "count": {
                                                    "type": "integer"
                                                },
                                                "data": {
                                                    "properties": {
                                                        "columns": {
                                                            "items": {
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "type"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "rows": {
                                                            "items": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "facets": {
                                                    "type": "array"
                                                },
                                                "resultTruncated": {
                                                    "type": "string"
                                                },
                                                "totalRecords": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Cache-Control": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Date": {
                                                    "type": "string"
                                                },
                                                "Expires": {
                                                    "type": "string"
                                                },
                                                "Pragma": {
                                                    "type": "string"
                                                },
                                                "Server": {
                                                    "type": "string"
                                                },
                                                "Strict-Transport-Security": {
                                                    "type": "string"
                                                },
                                                "Transfer-Encoding": {
                                                    "type": "string"
                                                },
                                                "Vary": {
                                                    "type": "string"
                                                },
                                                "X-Content-Type-Options": {
                                                    "type": "string"
                                                },
                                                "x-ms-correlation-request-id": {
                                                    "type": "string"
                                                },
                                                "x-ms-ratelimit-remaining-tenant-reads": {
                                                    "type": "string"
                                                },
                                                "x-ms-ratelimit-remaining-tenant-resource-requests": {
                                                    "type": "string"
                                                },
                                                "x-ms-request-id": {
                                                    "type": "string"
                                                },
                                                "x-ms-routing-request-id": {
                                                    "type": "string"
                                                },
                                                "x-ms-user-quota-remaining": {
                                                    "type": "string"
                                                },
                                                "x-ms-user-quota-resets-after": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {
                    },
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('LogAConnectionName'))]",
                                "connectionName": "[variables('LogAConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
