Secure Score/Web Application should only be accessible over HTTPS/Logic Apps/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "playbookName": {
            "defaultValue": "WebApp-HttpsOnly",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('playbookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "principalId": "",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each_-_Azure_Subscription": {
                            "foreach": "@body('Parse_JSON_-_Azure_Subscriptions')?['value']",
                            "actions": {
                                "For_each_Website": {
                                    "foreach": "@body('Parse_JSON_-_Websites')['value']",
                                    "actions": {
                                        "Condition_check_httpsOnly_setting": {
                                            "actions": {
                                                "HTTP": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": {
                                                            "properties": {
                                                                "httpsOnly": true
                                                            }
                                                        },
                                                        "method": "PATCH",
                                                        "uri": "https://management.azure.com/@{items('For_each_Website')?['id']}?api-version=2018-11-01"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@body('Parse_JSON_-_Websites')?['properties']?['body']?['properties']?['value']?['items']?['properties']?['properties']?['properties']?['httpsOnly']",
                                                                "true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_-_Websites": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "HTTP_-_Get_Websites": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/@{items('For_each_-_Azure_Subscription')?['id']}/providers/Microsoft.Web/sites/?api-version=2016-08-01"
                                    }
                                },
                                "Parse_JSON_-_Websites": {
                                    "runAfter": {
                                        "HTTP_-_Get_Websites": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP_-_Get_Websites')",
                                        "schema": {
                                            "properties": {
                                                "properties": {
                                                    "properties": {
                                                        "body": {
                                                            "properties": {
                                                                "properties": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "object"
                                                                        },
                                                                        "nextLink": {
                                                                            "type": "object"
                                                                        },
                                                                        "value": {
                                                                            "properties": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "properties": {
                                                                                            "properties": {
                                                                                                "id": {
                                                                                                    "properties": {
                                                                                                        "type": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "kind": {
                                                                                                    "properties": {
                                                                                                        "type": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "location": {
                                                                                                    "properties": {
                                                                                                        "type": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "name": {
                                                                                                    "properties": {
                                                                                                        "type": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "properties": {
                                                                                                    "properties": {
                                                                                                        "properties": {
                                                                                                            "properties": {
                                                                                                                "adminEnabled": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "availabilityState": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "cers": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "clientAffinityEnabled": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "clientCertEnabled": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "clientCertExclusionPaths": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "cloningInfo": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "computeMode": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "containerSize": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "contentAvailabilityState": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "csrs": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "dailyMemoryTimeQuota": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "defaultHostName": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "deploymentId": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "domainVerificationIdentifiers": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "enabled": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "enabledHostNames": {
                                                                                                                    "properties": {
                                                                                                                        "items": {
                                                                                                                            "properties": {
                                                                                                                                "type": {
                                                                                                                                    "type": "string"
                                                                                                                                }
                                                                                                                            },
                                                                                                                            "type": "object"
                                                                                                                        },
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "functionExecutionUnitsCache": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "geoDistributions": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "homeStamp": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "hostNameSslStates": {
                                                                                                                    "properties": {
                                                                                                                        "items": {
                                                                                                                            "properties": {
                                                                                                                                "properties": {
                                                                                                                                    "properties": {
                                                                                                                                        "hostType": {
                                                                                                                                            "properties": {
                                                                                                                                                "type": {
                                                                                                                                                    "type": "string"
                                                                                                                                                }
                                                                                                                                            },
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "ipBasedSslResult": {
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "ipBasedSslState": {
                                                                                                                                            "properties": {
                                                                                                                                                "type": {
                                                                                                                                                    "type": "string"
                                                                                                                                                }
                                                                                                                                            },
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "name": {
                                                                                                                                            "properties": {
                                                                                                                                                "type": {
                                                                                                                                                    "type": "string"
                                                                                                                                                }
                                                                                                                                            },
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "sslState": {
                                                                                                                                            "properties": {
                                                                                                                                                "type": {
                                                                                                                                                    "type": "string"
                                                                                                                                                }
                                                                                                                                            },
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "thumbprint": {
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "toUpdate": {
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "toUpdateIpBasedSsl": {
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "virtualIP": {
                                                                                                                                            "type": "object"
                                                                                                                                        }
                                                                                                                                    },
                                                                                                                                    "type": "object"
                                                                                                                                },
                                                                                                                                "required": {
                                                                                                                                    "items": {
                                                                                                                                        "type": "string"
                                                                                                                                    },
                                                                                                                                    "type": "array"
                                                                                                                                },
                                                                                                                                "type": {
                                                                                                                                    "type": "string"
                                                                                                                                }
                                                                                                                            },
                                                                                                                            "type": "object"
                                                                                                                        },
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "hostNames": {
                                                                                                                    "properties": {
                                                                                                                        "items": {
                                                                                                                            "properties": {
                                                                                                                                "type": {
                                                                                                                                    "type": "string"
                                                                                                                                }
                                                                                                                            },
                                                                                                                            "type": "object"
                                                                                                                        },
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "hostNamesDisabled": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "hostingEnvironment": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "hostingEnvironmentId": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "hostingEnvironmentProfile": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "httpsOnly": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "hyperV": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "inProgressOperationId": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "isXenon": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "kind": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "lastModifiedTimeUtc": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "maxNumberOfWorkers": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "name": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "outboundIpAddresses": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "owner": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "possibleOutboundIpAddresses": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "redundancyMode": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "repositorySiteName": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "reserved": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "resourceGroup": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "runtimeAvailabilityState": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "scmSiteAlsoStopped": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "selfLink": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "serverFarm": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "serverFarmId": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "siteConfig": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "siteDisabledReason": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "siteMode": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "siteProperties": {
                                                                                                                    "properties": {
                                                                                                                        "properties": {
                                                                                                                            "properties": {
                                                                                                                                "appSettings": {
                                                                                                                                    "type": "object"
                                                                                                                                },
                                                                                                                                "metadata": {
                                                                                                                                    "type": "object"
                                                                                                                                },
                                                                                                                                "properties": {
                                                                                                                                    "properties": {
                                                                                                                                        "items": {
                                                                                                                                            "properties": {
                                                                                                                                                "properties": {
                                                                                                                                                    "properties": {
                                                                                                                                                        "name": {
                                                                                                                                                            "properties": {
                                                                                                                                                                "type": {
                                                                                                                                                                    "type": "string"
                                                                                                                                                                }
                                                                                                                                                            },
                                                                                                                                                            "type": "object"
                                                                                                                                                        },
                                                                                                                                                        "value": {
                                                                                                                                                            "properties": {
                                                                                                                                                                "type": {
                                                                                                                                                                    "type": "string"
                                                                                                                                                                }
                                                                                                                                                            },
                                                                                                                                                            "type": "object"
                                                                                                                                                        }
                                                                                                                                                    },
                                                                                                                                                    "type": "object"
                                                                                                                                                },
                                                                                                                                                "required": {
                                                                                                                                                    "items": {
                                                                                                                                                        "type": "string"
                                                                                                                                                    },
                                                                                                                                                    "type": "array"
                                                                                                                                                },
                                                                                                                                                "type": {
                                                                                                                                                    "type": "string"
                                                                                                                                                }
                                                                                                                                            },
                                                                                                                                            "type": "object"
                                                                                                                                        },
                                                                                                                                        "type": {
                                                                                                                                            "type": "string"
                                                                                                                                        }
                                                                                                                                    },
                                                                                                                                    "type": "object"
                                                                                                                                }
                                                                                                                            },
                                                                                                                            "type": "object"
                                                                                                                        },
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "sku": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "slotSwapStatus": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "sslCertificates": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "state": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "storageRecoveryDefaultState": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "suspendedTill": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "tags": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "targetSwapSlot": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "trafficManagerHostNames": {
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "usageState": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                },
                                                                                                                "webSpace": {
                                                                                                                    "properties": {
                                                                                                                        "type": {
                                                                                                                            "type": "string"
                                                                                                                        }
                                                                                                                    },
                                                                                                                    "type": "object"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        },
                                                                                                        "type": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": {
                                                                                                    "properties": {
                                                                                                        "type": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "required": {
                                                                                            "items": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "type": "array"
                                                                                        },
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "headers": {
                                                            "properties": {
                                                                "properties": {
                                                                    "properties": {
                                                                        "Cache-Control": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Content-Length": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Content-Type": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Date": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "ETag": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Expires": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Pragma": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Server": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Strict-Transport-Security": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Transfer-Encoding": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Vary": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "X-AspNet-Version": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "X-Content-Type-Options": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "X-Powered-By": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "x-ms-correlation-request-id": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "x-ms-ratelimit-remaining-subscription-reads": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "x-ms-request-id": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "x-ms-routing-request-id": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "statusCode": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_-_Azure_Subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_-_Get_Azure_Subscriptions": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                            }
                        },
                        "Parse_JSON_-_Azure_Subscriptions": {
                            "runAfter": {
                                "HTTP_-_Get_Azure_Subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_-_Get_Azure_Subscriptions')",
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "authorizationSource": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionPolicies": {
                                                        "properties": {
                                                            "locationPlacementId": {
                                                                "type": "string"
                                                            },
                                                            "quotaId": {
                                                                "type": "string"
                                                            },
                                                            "spendingLimit": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "subscriptionId",
                                                    "displayName",
                                                    "state",
                                                    "subscriptionPolicies",
                                                    "authorizationSource"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}