Remediation scripts/Automation account variables should be encrypted/Logic App/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Encrypt_Automation_Account_Variables": {
            "defaultValue": "Encrypt_Automation_Account_Variables",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Encrypt_Automation_Account_Variables')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "principalId": "",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 3
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "ASC_Location": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ASCLocation",
                                        "type": "string",
                                        "value": "null"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "ASC_Location_Temp": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ASCLocationTemp",
                                        "type": "string",
                                        "value": "null"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Resource_Group_Temp": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Get-Task_Findings": {
                            "actions": {
                                "For_each": {
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "Get_Task_By_Name": {
                                                    "inputs": {
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://management.azure.com/subscriptions/@{items('Get-Task_Findings')?['subscriptionId']}/resourceGroups/@{variables('ResourceGroup')}/providers/Microsoft.Security/locations/@{variables('ASCLocation')}/tasks/@{items('For_each')?['name']}?api-version=2015-06-01-preview"
                                                    },
                                                    "runAfter": {
                                                        "Set_Resource_Group": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http"
                                                },
                                                "Parse_JSON_3": {
                                                    "inputs": {
                                                        "content": "@body('Get_Task_By_Name')",
                                                        "schema": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "properties": {
                                                                    "properties": {
                                                                        "creationTimeUtc": {
                                                                            "type": "string"
                                                                        },
                                                                        "lastStateChangeTimeUtc": {
                                                                            "type": "string"
                                                                        },
                                                                        "securityTaskParameters": {
                                                                            "properties": {
                                                                                "assessmentKey": {
                                                                                    "type": "string"
                                                                                },
                                                                                "category": {
                                                                                    "type": "string"
                                                                                },
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "policyName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "resourceId": {
                                                                                    "type": "string"
                                                                                },
                                                                                "resourceType": {
                                                                                    "type": "string"
                                                                                },
                                                                                "severity": {
                                                                                    "type": "string"
                                                                                },
                                                                                "uniqueKey": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "state": {
                                                                            "type": "string"
                                                                        },
                                                                        "subState": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_Task_By_Name": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson"
                                                },
                                                "Set_ASC_Location": {
                                                    "inputs": {
                                                        "name": "ASCLocation",
                                                        "value": "@{first(skip(split(variables('ASClocationTemp'),'/'),8))}"
                                                    },
                                                    "runAfter": {
                                                        "Set_ASC_Location_Temp": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable"
                                                },
                                                "Set_ASC_Location_Temp": {
                                                    "inputs": {
                                                        "name": "ASCLocationTemp",
                                                        "value": "@items('For_each')?['id']"
                                                    },
                                                    "runAfter": {},
                                                    "type": "SetVariable"
                                                },
                                                "Set_Resource_Group": {
                                                    "inputs": {
                                                        "name": "ResourceGroup",
                                                        "value": "@{first(skip(split(variables('ResourceGroupTemp'),'/'),4))}"
                                                    },
                                                    "runAfter": {
                                                        "Set_Resource_Group_Temp": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable"
                                                },
                                                "Set_Resource_Group_Temp": {
                                                    "inputs": {
                                                        "name": "ResourceGroupTemp",
                                                        "value": "@items('For_each')?['properties']?['securityTaskParameters']?['resourceId']"
                                                    },
                                                    "runAfter": {
                                                        "Set_ASC_Location": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable"
                                                },
                                                "Update_Endpoint": {
                                                    "inputs": {
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": {
                                                            "properties": {
                                                            "isEncrypted": true
                                                            }
                                                        },
                                                        "method": "PUT",
                                                        "uri": "https://management.azure.com@{body('Parse_JSON_3')?['properties']?['securityTaskParameters']?['resourceId']}?api-version=2015-10-31"
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_3": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http"
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each')?['properties']?['securityTaskParameters']?['assessmentKey']",
                                                            "b12bc79e-4f12-44db-acda-571820191ddc"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "runAfter": {},
                                            "type": "If"
                                        }
                                    },
                                    "foreach": "@body('Parse_JSON_2')?['value']",
                                    "runAfter": {
                                        "Parse_JSON_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_Security_Tasks": {
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/@{items('Get-Task_Findings')?['subscriptionId']}/providers/Microsoft.Security/tasks?api-version=2015-06-01-preview"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                },
                                "Parse_JSON_2": {
                                    "inputs": {
                                        "content": "@body('Get_Security_Tasks')",
                                        "schema": {
                                            "properties": {
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "creationTimeUtc": {
                                                                        "type": "string"
                                                                    },
                                                                    "lastStateChangeTimeUtc": {
                                                                        "type": "string"
                                                                    },
                                                                    "securityTaskParameters": {
                                                                        "properties": {
                                                                            "assessmentKey": {
                                                                                "type": "string"
                                                                            },
                                                                            "category": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "policyName": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceId": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceType": {
                                                                                "type": "string"
                                                                            },
                                                                            "severity": {
                                                                                "type": "string"
                                                                            },
                                                                            "uniqueKey": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "state": {
                                                                        "type": "string"
                                                                    },
                                                                    "subState": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "type",
                                                            "properties"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {
                                        "Get_Security_Tasks": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson"
                                }
                            },
                            "foreach": "@body('Parse_JSON')?['value']",
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Subscriptions": {
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                            },
                            "runAfter": {
                                "ASC_Location_Temp": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@body('Get_Subscriptions')",
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "authorizationSource": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionPolicies": {
                                                        "properties": {
                                                            "locationPlacementId": {
                                                                "type": "string"
                                                            },
                                                            "quotaId": {
                                                                "type": "string"
                                                            },
                                                            "spendingLimit": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "subscriptionId",
                                                    "displayName",
                                                    "state",
                                                    "subscriptionPolicies",
                                                    "authorizationSource"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Get_Subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Resource_Group": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ResourceGroup",
                                        "type": "string",
                                        "value": "null"
                                    }
                                ]
                            },
                            "runAfter": {
                                "ASC_Location": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Resource_Group_Temp": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ResourceGroupTemp",
                                        "type": "string",
                                        "value": "null"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Resource_Group": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        }
                    }
                }
            }
        }
    ]
}