Workflow automation/Notify-StaleResources/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "playbookName": {
            "defaultValue": "Notify-StaleResources",
            "type": "String"
        },
        "senderAddress": {
            "type": "string",
            "metadata": {
                "displayName": "Enter the sender's email address",
                "description": "Enter the sender's email address"
                }
        },
        "recipientAddress": {
            "type": "string",
            "metadata": {
                "displayName": "Enter the recipient's email address",
                "description": "Enter the recipient's email address"
                }
        }
    },
    "variables": {
        "o365ConnectionName": "office365"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('o365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('senderAddress')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', variables('o365ConnectionName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('playbookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Append_end_to_emailBody": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                                "name": "emailBody",
                                "value": "</tbody></table></ul></p>\n\t\t\t</td>\n\t\t</tr>\n\t</tbody>\n</table>"
                            }
                        },
                        "For_each": {
                            "foreach": "@variables('unhealthyResources')",
                            "actions": {
                                "Append_openRecommendations_to_emailBody": {
                                    "runAfter": {
                                        "Set_displayName": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "emailBody",
                                        "value": "<tr><td><li>@{variables('displayName')}</li></td></tr>"
                                    }
                                },
                                "Check_resourceId": {
                                    "actions": {},
                                    "runAfter": {
                                        "Set_resourceId": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Append_to_resource_info_to_emailBody": {
                                                "runAfter": {
                                                    "Set_resourceName": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable",
                                                "inputs": {
                                                    "name": "emailBody",
                                                    "value": "<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 750px;\">\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Resource name</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{variables('resourceName')}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Resource ID</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{variables('resourceId')}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n<tr><td style=\"width: 200px;\"><p></p></td><td style=\"width: 550px;\"><p></p></td></tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Unhealthy recommendations</h3>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t\t\t<p><ul><table><tbody>"
                                                }
                                            },
                                            "Condition": {
                                                "actions": {
                                                    "Set_rawName": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "rawName",
                                                            "value": "@{body('Parse_resourceName')?['data']?['rows']}"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Parse_resourceName": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "else": {
                                                    "actions": {
                                                        "HTTP_Get_resourceContainerName": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "authentication": {
                                                                    "type": "ManagedServiceIdentity"
                                                                },
                                                                "body": {
                                                                    "query": "resourceContainers | where id =~ '@{variables('resourceId')}' | project name"
                                                                },
                                                                "headers": {
                                                                    "content-type": "application/json"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2020-04-01-preview"
                                                            }
                                                        },
                                                        "Parse_resourceContainerName": {
                                                            "runAfter": {
                                                                "HTTP_Get_resourceContainerName": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ParseJson",
                                                            "inputs": {
                                                                "content": "@body('HTTP_Get_resourceContainerName')",
                                                                "schema": {
                                                                    "properties": {
                                                                        "count": {
                                                                            "type": "integer"
                                                                        },
                                                                        "data": {
                                                                            "properties": {
                                                                                "columns": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "type": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "type"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "rows": {
                                                                                    "items": {
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "facets": {
                                                                            "type": "array"
                                                                        },
                                                                        "resultTruncated": {
                                                                            "type": "string"
                                                                        },
                                                                        "totalRecords": {
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "Set_rawName_2": {
                                                            "runAfter": {
                                                                "Parse_resourceContainerName": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "rawName",
                                                                "value": "@{body('Parse_resourceContainerName')?['data']?['rows']}"
                                                            }
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "greater": [
                                                                "@body('Parse_resourceName')?['totalRecords']",
                                                                0
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            },
                                            "HTTP_Get_resourceName": {
                                                "runAfter": {
                                                    "check_first_run": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http",
                                                "inputs": {
                                                    "authentication": {
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "body": {
                                                        "query": "resources | where id =~ '@{variables('resourceId')}' | project name"
                                                    },
                                                    "headers": {
                                                        "content-type": "application/json"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2020-04-01-preview"
                                                }
                                            },
                                            "Parse_resourceName": {
                                                "runAfter": {
                                                    "HTTP_Get_resourceName": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('HTTP_Get_resourceName')",
                                                    "schema": {
                                                        "properties": {
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "data": {
                                                                "properties": {
                                                                    "columns": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "name",
                                                                                "type"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "rows": {
                                                                        "items": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "facets": {
                                                                "type": "array"
                                                            },
                                                            "resultTruncated": {
                                                                "type": "string"
                                                            },
                                                            "totalRecords": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "Set_resourceName": {
                                                "runAfter": {
                                                    "Condition": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "resourceName",
                                                    "value": "@{split(variables('rawName'),'\"')[1]}"
                                                }
                                            },
                                            "check_first_run": {
                                                "actions": {
                                                    "Append_to_string_variable": {
                                                        "runAfter": {},
                                                        "type": "AppendToStringVariable",
                                                        "inputs": {
                                                            "name": "emailBody",
                                                            "value": "<tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Resource details</h3>\n\t\t\t</td>\n\t\t</tr>"
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "else": {
                                                    "actions": {
                                                        "Append_to_string_variable_2": {
                                                            "runAfter": {},
                                                            "type": "AppendToStringVariable",
                                                            "inputs": {
                                                                "name": "emailBody",
                                                                "value": "</tbody></table></ul></p>\n</td>\n\t\t</tr>\n<tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Resource details</h3>\n\t\t\t</td>\n\t\t</tr>"
                                                            }
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@variables('resourceCheck')",
                                                                ""
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@variables('resourceCheck')",
                                                    "@variables('resourceId')"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Set_displayName": {
                                    "runAfter": {
                                        "Check_resourceId": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "displayName",
                                        "value": "@{split(variables('resourceObject'),'\"')[3]}"
                                    }
                                },
                                "Set_resourceCheck": {
                                    "runAfter": {
                                        "Append_openRecommendations_to_emailBody": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "resourceCheck",
                                        "value": "@variables('resourceId')"
                                    }
                                },
                                "Set_resourceId": {
                                    "runAfter": {
                                        "Set_resourceObject": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "resourceId",
                                        "value": "@{split(variables('resourceObject'),'\"')[1]}"
                                    }
                                },
                                "Set_resourceObject": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "resourceObject",
                                        "value": "@{items('For_each')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Set_unhealthyResources": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "HTTP_Get_unhealthyResources": {
                            "runAfter": {
                                "Initialize_emailBody": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "query": "securityresources | where type =~ 'microsoft.security/assessments' | extend assessmentStatusCode = tostring(properties.status.code) | where assessmentStatusCode =~ 'unhealthy' | extend statusChangeDate = todatetime(properties.status.statusChangeDate) | extend resourceId = tostring(properties.resourceDetails.Id) | extend displayName = tostring(properties.displayName) | where statusChangeDate > todatetime(now(-7d)) | distinct resourceId, displayName"
                                },
                                "headers": {
                                    "content-type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2020-04-01-preview"
                            }
                        },
                        "Initialize_displayName": {
                            "runAfter": {
                                "Initialize_resourceCheck": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "displayName",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_emailBody": {
                            "runAfter": {
                                "Initialize_openRecommendations": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "emailBody",
                                        "type": "string",
                                        "value": "<style type=\"text/css\">\n\th1 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 32px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 30px;\n\t}\n\n\th2 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 20px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 15px;\n\t}\n\n\th3 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 22px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 23.1px;\n\t}\n\n\tp {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 16px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 400;\n\t\tline-height: 20px;\n\t}\n</style>\n<table align=\"center\" border=\"0\" cellpadding=\"1\" cellspacing=\"1\" style=\"width:800px;\">\n\t<tbody>\n\t\t<tr>\n\t\t\t<th style=\"text-align:center; width:735px\">\n\t\t\t\t<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 550px;\">\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td><img src=\"https://raw.githubusercontent.com/Azure/Azure-Security-Center/master/.github/images/asc.png\" alt=\"\" width=\"125\" height=\"125\" /></td>\n\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t<h1 style=\"text-align: left;\">Azure Security Center</h1>\n\t\t\t\t\t\t\t\t<h2 style=\"text-align: left;\">New open recommendations found with your resources</h2>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</th>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t<p style=\"text-align: center;\">You are the owner of resources that have new outstanding security\n\t\t\t\t\trecommendations in Azure Security Center.<br />\n\t\t\t\t\tPlease review the recommendations and resolve them as instructed within Security Center.</p>\n\t\t\t</td>\n\t\t</tr>\n<tr><td style=\"width: 200px;\"><p></p></td><td style=\"width: 550px;\"><p></p></td></tr>"
                                    }
                                ]
                            }
                        },
                        "Initialize_openRecommendations": {
                            "runAfter": {
                                "Initialize_displayName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "openRecommendations",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_rawName": {
                            "runAfter": {
                                "Initialize_resourceId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "rawName",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_resourceCheck": {
                            "runAfter": {
                                "Initialize_resourceName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceCheck",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_resourceId": {
                            "runAfter": {
                                "Initialize_resourceObject": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceId",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_resourceName": {
                            "runAfter": {
                                "Initialize_rawName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceName",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_resourceObject": {
                            "runAfter": {
                                "Initialize_unhealthyResources": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceObject",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_unhealthyResources": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "unhealthyResources",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Parse_unhealthyResources": {
                            "runAfter": {
                                "HTTP_Get_unhealthyResources": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_Get_unhealthyResources')",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "count": {
                                                    "type": "integer"
                                                },
                                                "data": {
                                                    "properties": {
                                                        "columns": {
                                                            "items": {
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "type"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "rows": {
                                                            "items": {
                                                                "type": "array"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "facets": {
                                                    "type": "array"
                                                },
                                                "resultTruncated": {
                                                    "type": "string"
                                                },
                                                "totalRecords": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Append_end_to_emailBody": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{variables('emailBody')}</p>",
                                    "Importance": "High",
                                    "Subject": "Notification: Recent new recommendations in Azure Security Center",
                                    "To": "[parameters('recipientAddress')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Set_unhealthyResources": {
                            "runAfter": {
                                "Parse_unhealthyResources": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "unhealthyResources",
                                "value": "@body('Parse_unhealthyResources')?['data']?['rows']"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}