Workflow automation/Notify-SQLVulnerabilityReport/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "defaultValue": "Notify-SQLVulnerabilityReport",
      "type": "String"
    },
    "recipientEmails": {
      "defaultValue": [],
      "type": "Array",
      "metadata": {
        "description": "Specify the recipient emails."
      }
    },
    "serverList": {
      "defaultValue": [],
      "type": "Array",
      "metadata": {
        "description": "Specify the server names that the email report will be created for. An empty list indicates that an email report should be created for all servers."
      }
    },
    "senderEmailAccount": {
      "defaultValue": "<username>@<domain.com>",
      "type": "String",
      "metadata": {
        "description": "Specify a valid sender email account that you have access to, e.g. your email address. For example, user@contoso.com"
      }
    }
  },
  "variables": {
    "office365ConnectionName": "[concat('office365-', parameters('workflowName'))]",
    "armConnectionName": "[concat('arm-', parameters('workflowName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[resourceGroup().location]",
      "tags": {},
      "properties": {
        "displayName": "[parameters('senderEmailAccount')]",
        "parameterValues": {},
        "customParameterValues": {},
        "nonSecretParameterValues": {},
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('armConnectionName')]",
      "location": "[resourceGroup().location]",
      "tags": {},
      "properties": {
        "displayName": "[parameters('workflowName')]",
        "parameterValues": {},
        "parameterValueType": "Alternative",
        "customParameterValues": {},
        "nonSecretParameterValues": {},
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
        }
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2019-10-01",
      "name": "[concat('LogicAppRoleAssignment-', parameters('workflowName'))]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[parameters('workflowName')]"
      ],
      "properties": {
        "mode": "Incremental",
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "parameters": {
          "principalId": {
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('workflowName')), '2017-07-01', 'Full').identity.principalId]"
          },
          "workflowName": {
            "value": "[parameters('workflowName')]"
          },
          "resourceGroup": {
            "value": "[resourceGroup().Name]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "principalId": {
              "type": "string"
            },
            "workflowName": {
              "type": "string"
            },
            "resourceGroup": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2018-09-01-preview",
              "name": "[guid(uniqueString(subscription().subscriptionId, resourceId(subscription().subscriptionId, parameters('resourceGroup'), 'Microsoft.Logic/workflows', parameters('workflowName'))))]",
              "properties": {
                "roleDefinitionId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Authorization/roleDefinitions/39bc4728-0917-49c7-9d2c-d95423bc2eb4')]",
                "principalId": "[parameters('principalId')]",
                "scope": "[subscription().Id]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        }
      },
      "subscriptionId": "[subscription().subscriptionId]"
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflowName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[variables('office365ConnectionName')]",
        "[variables('armConnectionName')]"
      ],
      "tags": {
        "LogicAppsCategory": "security"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "recipientEmails": {
              "defaultValue": "[parameters('recipientEmails')]",
              "type": "Array"
            },
            "serverList": {
              "defaultValue": "[parameters('serverList')]",
              "type": "Array"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 7
              },
              "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 7
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each_subscription": {
              "foreach": "@body('List_subscriptions')?['value']",
              "actions": {
                "For_each_server": {
                  "foreach": "@body('Parse_server_data')?['data']",
                  "actions": {
                    "Append_closing_tags_to_HTML_table": {
                      "runAfter": {
                        "For_each_database": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "DatabaseTable",
                        "value": "                    </tbody></table>\n                </th>"
                      }
                    },
                    "Compose_email_template": {
                      "runAfter": {
                        "Parse_database_data": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"><html xmlns=\"https://www.w3.org/1999/xhtml\" lang=\"en\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" style=\"min-height: 100%;background: #ffffff\"><head>\n\n\n\n    \n\n    <title>\n        \n    A Vulnerability Assessment report is available for your @{items('For_each_server')?['resourceTypeName']} '@{items('For_each_server')?['resourceName']}'\n\n    </title>\n\n\n<style id=\"mediaqueries\">@media only screen and (max-width: 640px) {\n  .wrap-dangler {\n    padding-right: 10% !important;\n    mso-padding-right-alt: 10% !important;\n  }\n\n  .wrap-dangler.small-text-center .wrap-dangler.text-center {\n    padding-left: 10% !important;\n    mso-padding-left-alt: 10% !important;\n    padding-right: 10% !important;\n    mso-padding-right-alt: 10% !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  p.comment-border-right {\n    margin-left: 0 !important;\n    Margin-left: 0 !important;\n    mso-margin-left-alt: 0 !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  p.comment-border-left {\n    margin-left: 0 !important;\n    Margin-left: 0 !important;\n    mso-margin-left-alt: 0 !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .small-float-left {\n    margin-left: 0 !important;\n    float: none !important;\n    text-align: left !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .show-for-large {\n    display: none !important;\n    width: 0;\n    mso-hide: all;\n    overflow: hidden;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .wrap-dangler {\n    padding-right: 10% !important;\n    mso-padding-right-alt: 10% !important;\n  }\n\n  .wrap-dangler.small-text-center .wrap-dangler.text-center {\n    padding-left: 10% !important;\n    mso-padding-left-alt: 10% !important;\n    padding-right: 10% !important;\n    mso-padding-right-alt: 10% !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  p.comment-border-right {\n    margin-left: 0 !important;\n    Margin-left: 0 !important;\n    mso-margin-left-alt: 0 !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  p.comment-border-left {\n    margin-left: 0 !important;\n    Margin-left: 0 !important;\n    mso-margin-left-alt: 0 !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .small-float-left {\n    margin-left: 0 !important;\n    float: none !important;\n    text-align: left !important;\n  }\n}\n\n@media only screen {\n  html {\n    min-height: 100%;\n    background: #ffffff;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .small-float-center {\n    margin: 0 auto !important;\n    float: none !important;\n    text-align: center !important;\n  }\n\n  .small-text-center {\n    text-align: center !important;\n  }\n\n  .small-text-left {\n    text-align: left !important;\n  }\n\n  .small-text-right {\n    text-align: right !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .hide-for-large {\n    display: block !important;\n    width: auto !important;\n    overflow: visible !important;\n    max-height: none !important;\n    font-size: inherit !important;\n    line-height: inherit !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  table.body table.container .hide-for-large,\n  table.body table.container .row.hide-for-large {\n    display: table !important;\n    width: 100% !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  table.body table.container .callout-inner.hide-for-large {\n    display: table-cell !important;\n    width: 100% !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  table.body table.container .show-for-large {\n    display: none !important;\n    width: 0;\n    mso-hide: all;\n    overflow: hidden;\n  }\n}\n\n@media only screen {\n  a[x-apple-data-detectors] {\n    color: inherit !important;\n    text-decoration: none !important;\n    font-size: inherit !important;\n    font-family: inherit !important;\n    font-weight: inherit !important;\n    line-height: inherit !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .menu.small-vertical .menu-item {\n    padding-left: 0 !important;\n    padding-right: 0 !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  table.body img {\n    width: auto;\n    height: auto;\n  }\n\n  table.body center {\n    min-width: 0 !important;\n  }\n\n  table.body .container {\n    width: 95% !important;\n  }\n\n  table.body .columns,\n  table.body .column {\n    height: auto !important;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    box-sizing: border-box;\n    padding-left: 16px !important;\n    padding-right: 16px !important;\n  }\n\n  table.body .columns .column,\n  table.body .columns .columns,\n  table.body .column .column,\n  table.body .column .columns {\n    padding-left: 0 !important;\n    padding-right: 0 !important;\n  }\n\n  table.body .collapse .columns,\n  table.body .collapse .column {\n    padding-left: 0 !important;\n    padding-right: 0 !important;\n  }\n\n  td.small-1,\n  th.small-1 {\n    display: inline-block !important;\n    width: 8.33333% !important;\n  }\n\n  td.small-2,\n  th.small-2 {\n    display: inline-block !important;\n    width: 16.66667% !important;\n  }\n\n  td.small-3,\n  th.small-3 {\n    display: inline-block !important;\n    width: 25% !important;\n  }\n\n  td.small-4,\n  th.small-4 {\n    display: inline-block !important;\n    width: 33.33333% !important;\n  }\n\n  td.small-5,\n  th.small-5 {\n    display: inline-block !important;\n    width: 41.66667% !important;\n  }\n\n  td.small-6,\n  th.small-6 {\n    display: inline-block !important;\n    width: 50% !important;\n  }\n\n  td.small-7,\n  th.small-7 {\n    display: inline-block !important;\n    width: 58.33333% !important;\n  }\n\n  td.small-8,\n  th.small-8 {\n    display: inline-block !important;\n    width: 66.66667% !important;\n  }\n\n  td.small-9,\n  th.small-9 {\n    display: inline-block !important;\n    width: 75% !important;\n  }\n\n  td.small-10,\n  th.small-10 {\n    display: inline-block !important;\n    width: 83.33333% !important;\n  }\n\n  td.small-11,\n  th.small-11 {\n    display: inline-block !important;\n    width: 91.66667% !important;\n  }\n\n  td.small-12,\n  th.small-12 {\n    display: inline-block !important;\n    width: 100% !important;\n  }\n\n  .columns td.small-12,\n  .column td.small-12,\n  .columns th.small-12,\n  .column th.small-12 {\n    display: block !important;\n    width: 100% !important;\n  }\n\n  table.body td.small-offset-1,\n  table.body th.small-offset-1 {\n    margin-left: 8.33333% !important;\n    Margin-left: 8.33333% !important;\n  }\n\n  table.body td.small-offset-2,\n  table.body th.small-offset-2 {\n    margin-left: 16.66667% !important;\n    Margin-left: 16.66667% !important;\n  }\n\n  table.body td.small-offset-3,\n  table.body th.small-offset-3 {\n    margin-left: 25% !important;\n    Margin-left: 25% !important;\n  }\n\n  table.body td.small-offset-4,\n  table.body th.small-offset-4 {\n    margin-left: 33.33333% !important;\n    Margin-left: 33.33333% !important;\n  }\n\n  table.body td.small-offset-5,\n  table.body th.small-offset-5 {\n    margin-left: 41.66667% !important;\n    Margin-left: 41.66667% !important;\n  }\n\n  table.body td.small-offset-6,\n  table.body th.small-offset-6 {\n    margin-left: 50% !important;\n    Margin-left: 50% !important;\n  }\n\n  table.body td.small-offset-7,\n  table.body th.small-offset-7 {\n    margin-left: 58.33333% !important;\n    Margin-left: 58.33333% !important;\n  }\n\n  table.body td.small-offset-8,\n  table.body th.small-offset-8 {\n    margin-left: 66.66667% !important;\n    Margin-left: 66.66667% !important;\n  }\n\n  table.body td.small-offset-9,\n  table.body th.small-offset-9 {\n    margin-left: 75% !important;\n    Margin-left: 75% !important;\n  }\n\n  table.body td.small-offset-10,\n  table.body th.small-offset-10 {\n    margin-left: 83.33333% !important;\n    Margin-left: 83.33333% !important;\n  }\n\n  table.body td.small-offset-11,\n  table.body th.small-offset-11 {\n    margin-left: 91.66667% !important;\n    Margin-left: 91.66667% !important;\n  }\n\n  table.body table.columns td.expander,\n  table.body table.columns th.expander {\n    display: none !important;\n  }\n\n  table.body .right-text-pad,\n  table.body .text-pad-right {\n    padding-left: 12px !important;\n  }\n\n  table.body .left-text-pad,\n  table.body .text-pad-left {\n    padding-right: 12px !important;\n  }\n\n  table.menu {\n    width: 100% !important;\n  }\n\n  table.menu td,\n  table.menu th {\n    width: auto !important;\n    display: inline-block !important;\n  }\n\n  table.menu.vertical td,\n  table.menu.vertical th,\n  table.menu.small-vertical td,\n  table.menu.small-vertical th {\n    display: block !important;\n  }\n\n  table.menu[align=\"center\"] {\n    width: auto !important;\n  }\n\n  table.button.small-expand,\n  table.button.small-expanded {\n    width: 100% !important;\n  }\n\n  table.button.small-expand table,\n  table.button.small-expanded table {\n    width: 100%;\n  }\n\n  table.button.small-expand table a,\n  table.button.small-expanded table a {\n    text-align: center !important;\n    width: 100% !important;\n    padding-left: 0 !important;\n    padding-right: 0 !important;\n  }\n\n  table.button.small-expand center,\n  table.button.small-expanded center {\n    min-width: 0;\n  }\n}\n\n@media (min-resolution: 1dpi) {\n  body[data-outlook-cycle] .main-container > table {\n    width: 640px;\n  }\n\n  body[data-outlook-cycle] .container-wide .main-container > table {\n    width: 888px;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .outer-wrapper > tbody > tr > .wrapper-inner,\n  table.body .columns,\n  table.body .column {\n    padding-left: 12px !important;\n    padding-right: 12px !important;\n  }\n\n  .main-container > .float-center {\n    width: 100%;\n  }\n}\n\n@media only screen and (max-width: 888px) {\n  body.container-wide .main-container > table {\n    width: 100% !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  table.button.secondary a {\n    font-size: 16px !important;\n    line-height: 22px !important;\n  }\n\n  .header-right-column table.button table td a {\n    font-size: 13px !important;\n    line-height: 1 !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .section .card-table th:first-child {\n    padding-bottom: 0px !important;\n    mso-padding-bottom-alt: 0px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .section .card-table td,\n  .section .card-table th:last-child {\n    padding-top: 0px !important;\n    mso-padding-top-alt: 0px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .section .card-table.mobile-padding td {\n    padding-top: 8px !important;\n    mso-padding-top-alt: 8px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .section .card-table tr.border-top td,\n  .section .card-table tr.border-top th:last-child {\n    border: none !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .section .card-table.no-stack tr.border-top td,\n  .section .card-table.no-stack tr.border-top th {\n    border-top: 1px solid #dedede !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .section .card-table.no-stack th,\n  .section .card-table.no-stack td {\n    padding-top: 8px !important;\n    mso-padding-top-alt: 8px !important;\n    padding-bottom: 8px !important;\n    mso-padding-bottom-alt: 8px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .section .card-row .columns.first {\n    padding-bottom: 0px !important;\n    mso-padding-bottom-alt: 0px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .section .card-row .columns.last {\n    padding-top: 0px !important;\n    mso-padding-top-alt: 0px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .header-section .stack-for-small th {\n    display: block;\n    width: 100% !important;\n  }\n\n  .header-section .stack-for-small .header-right-column {\n    padding-bottom: 0 !important;\n    padding-top: 24px !important;\n  }\n\n  .header-section .stack-for-small .header-right-column,\n  .header-section .stack-for-small .header-right-column p {\n    text-align: left !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .list-row .columns.first,\n  .list-row .list-items {\n    padding-bottom: 0 !important;\n    mso-padding-bottom-alt: 0 !important;\n  }\n\n  .list-row .columns.last,\n  .list-row .list-items {\n    padding-top: 0 !important;\n    mso-padding-top-alt: 0 !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .number-bar .interior-bar td {\n    padding-top: 0px !important;\n    mso-padding-top-alt: 0px !important;\n    padding-bottom: 0px !important;\n    mso-padding-bottom-alt: 0px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .small-display-block {\n    display: block !important;\n  }\n\n  .small-text-medium {\n    font-size: 18px !important;\n  }\n\n  .small-text-left {\n    text-align: left !important;\n  }\n\n  .small-bottom-padding-8 {\n    padding-bottom: 8px !important;\n    mso-padding-bottom-alt: 8px !important;\n  }\n\n  .small-top-padding-0 {\n    padding-top: 0 !important;\n    mso-padding-top-alt: 0 !important;\n  }\n\n  .video-container img {\n    margin-bottom: 10px;\n    Margin-bottom: 10px;\n    mso-margin-bottom-alt: 10px;\n  }\n\n  .video-container .video-thumbnail img {\n    max-width: 580px;\n    width: 300px;\n  }\n\n  .list-items p {\n    text-align: left !important;\n    font-size: 20px;\n  }\n\n  .list-items p,\n  .list-items img {\n    line-height: 13px !important;\n    mso-line-height-alt: 13px;\n    margin-bottom: 8px;\n    Margin-bottom: 8px;\n    mso-margin-bottom-alt: 8px;\n    text-align: left;\n  }\n\n  .list-items img {\n    vertical-align: middle !important;\n    margin-top: 5px !important;\n  }\n\n  .list-items.bullet-small th img {\n    padding-top: 0;\n    mso-padding-top-alt: 0;\n  }\n\n  table.body {\n    min-width: 320px !important;\n  }\n\n  table.body .main-container {\n    padding: 0 !important;\n  }\n\n  table.body .main-container > table.container {\n    min-width: 300px !important;\n  }\n\n  table.body table.container {\n    width: 100% !important;\n  }\n\n  .header-section img {\n    height: auto !important;\n  }\n\n  .header-section .small-6,\n  .header-section .large-3,\n  .header-section .large-6 {\n    margin-top: 0px;\n    Margin-top: 0px;\n    mso-margin-top-alt: 0px;\n    margin-bottom: 0px;\n    Margin-bottom: 0px;\n    mso-margin-bottom-alt: 0px;\n  }\n\n  .header-section .heading-container {\n    margin-bottom: 0px;\n    Margin-bottom: 0px;\n    mso-margin-bottom-alt: 0px;\n  }\n\n  .header-section .heading-container p {\n    font-family: Segoe UI, SegoeUI, Roboto, \"Helvetica Neue\", Arial, sans-serif;\n  }\n\n  .header-section p.amount-title {\n    line-height: 16px;\n    mso-line-height-alt: 16px;\n    font-size: 12px !important;\n    word-wrap: break-word !important;\n    margin: 0 15px 10px 15px;\n    mso-margin-alt: 0 15px 10px 15px;\n    padding-top: 0 !important;\n  }\n\n  .header-section p.amount-value {\n    font-size: 24px;\n    line-height: 18px;\n    mso-line-height-alt: 18px;\n    margin: 0 15px 10px 15px;\n    mso-margin-alt: 0 15px 10px 15px;\n    padding: 0;\n  }\n\n  .section .columns {\n    padding-top: 0px;\n    mso-padding-top-alt: 0px;\n    padding-bottom: 0px;\n    mso-padding-bottom-alt: 0px;\n  }\n\n  .section .show-for-small {\n    display: block !important;\n    visibility: visible !important;\n    height: auto !important;\n    mso-height-alt: auto !important;\n    max-height: none !important;\n    mso-max-height-alt: none !important;\n    mso-hide: none !important;\n    overflow: visible !important;\n  }\n\n  table.footer-template p {\n    font-size: 12px !important;\n    line-height: 16px !important;\n  }\n\n  .wrapper.wrapper-inner-540-large .wrapper-inner .container {\n    width: 100%;\n  }\n\n  .wrapper.wrapper-inner-20 .wrapper-inner {\n    padding-left: 0px !important;\n    mso-padding-left-alt: 0px !important;\n    padding-right: 20px !important;\n    mso-padding-right-alt: 20px !important;\n  }\n\n  .no-pad-for-small table th {\n    padding-left: 0px !important;\n    mso-padding-left-alt: 0px !important;\n    padding-right: 0px !important;\n    mso-padding-right-alt: 0px !important;\n  }\n\n  .large-pad-left table th {\n    padding-left: 0px !important;\n    mso-padding-left-alt: 0px !important;\n  }\n\n  .large-pad-right table th {\n    padding-right: 0px !important;\n    mso-padding-right-alt: 0px !important;\n  }\n\n  .max-width img {\n    height: auto !important;\n    width: 100% !important;\n    max-width: 100% !important;\n  }\n}\n\n@media only screen and (max-width: 888px) {\n  .max-width img {\n    height: auto !important;\n    width: 100% !important;\n    max-width: 100% !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .button {\n    min-width: 132px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .standard-table td {\n    padding-bottom: 5px !important;\n    mso-padding-bottom-alt: 5px !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .table-default.table-heading-rows,\n  .table-default.table-heading-rows-loop {\n    display: table !important;\n  }\n\n  .table-default.table-heading-rows th,\n  .table-default.table-heading-rows td,\n  .table-default.table-heading-rows-loop th,\n  .table-default.table-heading-rows-loop td {\n    padding: 0 !important;\n    mso-padding-alt: 0 !important;\n    display: block;\n    padding-left: 0 !important;\n    padding-right: 0 !important;\n    padding-top: 6px !important;\n  }\n\n  .table-default.table-heading-rows td,\n  .table-default.table-heading-rows-loop td {\n    border-top: none !important;\n    padding-bottom: 6px !important;\n    padding-top: none !important;\n  }\n\n  .table-default.table-heading-rows td.wrap-word,\n  .table-default.table-heading-rows .code-block td.wrapper-inner,\n  .code-block .table-default.table-heading-rows td.wrapper-inner,\n  .table-default.table-heading-rows-loop td.wrap-word,\n  .table-default.table-heading-rows-loop .code-block td.wrapper-inner,\n  .code-block .table-default.table-heading-rows-loop td.wrapper-inner {\n    display: block !important;\n  }\n\n  .table-default.table-heading-rows th,\n  .table-default.table-heading-rows-loop th {\n    width: 100% !important;\n    padding-bottom: none !important;\n    padding-top: 6px !important;\n  }\n\n  .table-default.table-heading-rows.no-stack td,\n  .table-default.table-heading-rows-loop.no-stack td {\n    padding-left: 12px !important;\n  }\n\n  .table-default.table-heading-rows.no-stack td.wrap-word,\n  .table-default.table-heading-rows.no-stack .code-block td.wrapper-inner,\n  .code-block .table-default.table-heading-rows.no-stack td.wrapper-inner,\n  .table-default.table-heading-rows-loop.no-stack td.wrap-word,\n  .table-default.table-heading-rows-loop.no-stack .code-block td.wrapper-inner,\n  .code-block .table-default.table-heading-rows-loop.no-stack td.wrapper-inner {\n    display: table-cell;\n  }\n\n  .table-default.table-heading-rows.no-stack th,\n  .table-default.table-heading-rows-loop.no-stack th {\n    width: 1% !important;\n    padding-right: 12px !important;\n  }\n\n  .table-default.table-heading-rows.no-stack:first-child th,\n  .table-default.table-heading-rows.no-stack:first-child td,\n  .table-default.table-heading-rows.no-stack .table-heading-rows-loop:first-child th,\n  .table-default.table-heading-rows.no-stack .table-heading-rows-loop:first-child td,\n  .table-default.table-heading-rows-loop.no-stack:first-child th,\n  .table-default.table-heading-rows-loop.no-stack:first-child td,\n  .table-default.table-heading-rows-loop.no-stack .table-heading-rows-loop:first-child th,\n  .table-default.table-heading-rows-loop.no-stack .table-heading-rows-loop:first-child td {\n    border-top: none !important;\n  }\n\n  .table-default.table-heading-rows.no-stack th,\n  .table-default.table-heading-rows.no-stack td,\n  .table-default.table-heading-rows-loop.no-stack th,\n  .table-default.table-heading-rows-loop.no-stack td {\n    display: table-cell !important;\n    border-top: solid 1px #dedede !important;\n    padding-top: 8px !important;\n    mso-padding-top-alt: 8px !important;\n    padding-bottom: 8px !important;\n    mso-padding-bottom-alt: 8px !important;\n  }\n\n  .table-default.table-heading-rows.no-stack.table-heading-rows-loop th,\n  .table-default.table-heading-rows.no-stack.table-heading-rows-loop td,\n  .table-default.table-heading-rows-loop.no-stack.table-heading-rows-loop th,\n  .table-default.table-heading-rows-loop.no-stack.table-heading-rows-loop td {\n    border-top: none !important;\n  }\n\n  .table-default.table-heading-rows.no-stack.table-heading-rows-loop .table-row-loop-start:first-child th,\n  .table-default.table-heading-rows.no-stack.table-heading-rows-loop .table-row-loop-start:first-child td,\n  .table-default.table-heading-rows-loop.no-stack.table-heading-rows-loop .table-row-loop-start:first-child th,\n  .table-default.table-heading-rows-loop.no-stack.table-heading-rows-loop .table-row-loop-start:first-child td {\n    border-top: none !important;\n  }\n\n  .table-default.table-heading-rows.no-stack.table-heading-rows-loop .table-row-loop-start th,\n  .table-default.table-heading-rows.no-stack.table-heading-rows-loop .table-row-loop-start td,\n  .table-default.table-heading-rows-loop.no-stack.table-heading-rows-loop .table-row-loop-start th,\n  .table-default.table-heading-rows-loop.no-stack.table-heading-rows-loop .table-row-loop-start td {\n    border-top: solid 1px #dedede !important;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .power-bi.container-mooncake .header-section img {\n    height: auto !important;\n    max-height: 16px;\n    max-width: 100%;\n  }\n}\n\n@media only screen and (max-width: 640px) {\n  .scan-results h3 {\n    line-height: 39px !important;\n    mso-line-height: 39px !important;\n    margin-left: 12px !important;\n    Margin-left: 12px !important;\n    mso-margin-left-alt: 12px !important;\n  }\n\n  .info-box h3 {\n    font-size: 36px !important;\n  }\n}</style>\n\n    <!--[if gte (gte mso 9)|(IE)]>\n        <xml>\n            <o:OfficeDocumentSettings>\n            <o:AllowPNG/>\n            <o:PixelsPerInch>96</o:PixelsPerInch>\n            </o:OfficeDocumentSettings>\n        </xml>\n        <style>\n            li {\n                text-align:-webkit-match-parent;\n                display:list-item;\n                text-indent: -1em;\n            }\n\n            .alert span,\n            .arrow-link,\n            b,\n            h1,\n            h2,\n            h3,\n            h4,\n            h5,\n            .heading-group th,\n            strong,\n            .card-table th,\n            .header-right-column,\n            .styled-table th,\n            .styled-table td,\n            .text-heading1,\n            .text-heading2,\n            .text-heading3,\n            .text-heading4,\n            .text-heading5,\n            .text-bold,\n            table.button a,\n            .wrapper-inner a,\n            .wrapper-inner p {\n                font-weight: 400 !important;\n            }\n        </style>\n    <![endif]-->\n</head>\n\n\n\n<body class=\" ltr\" dir=\"ltr\" style=\"width: 100% !important;min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;Margin: 0;padding: 0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;text-align: left;line-height: 20px;font-size: 14px\">\n        <div class=\"preheader\" style=\"display: none !important;visibility: hidden !important;opacity: 0;color: #f4f4f4;height: 0;width: 0;line-height: 1px;font-size: 1px;max-height: 0;max-width: 0;overflow: hidden;mso-hide: all\">Your SQL vulnerability scan results are available.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>\n    <table role=\"presentation\" class=\"body \" data-made-with-foundation=\"data-made-with-foundation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;background: #ffffff;height: 100%;width: 100%;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n        <tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n            <td class=\"float-center\" align=\"center\" valign=\"top\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;float: none\">\n                <center class=\"main-container\" style=\"width: 100%;min-width: 640px\">\n                    <table role=\"presentation\" bgcolor=\"#ffffff\" align=\"center\" class=\"float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;Margin: 0 auto;float: none\">\n                        <tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                            <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                                \n\n\n<table role=\"presentation\" dir=\"ltr\" align=\"center\" class=\"container header-container section\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: inherit;mso-table-lspace: -1pt;mso-table-rspace: -1pt;background: #ffffff;width: 640px;Margin: 0 auto\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n    <table role=\"presentation\" align=\"left\" class=\"wrapper outer-wrapper text-left\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td class=\"wrapper-inner\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;mso-padding-top-alt: 0;mso-padding-bottom-alt: 0\">\n        <table role=\"presentation\" align=\"left\" class=\"row header-section text-left\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n            <th class=\"text-left small-12 large-12 columns first last\" align=\"left\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 24px;padding-right: 24px;padding-bottom: 24px;padding-left: 24px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 616px;mso-padding-top-alt: 24px;mso-padding-bottom-alt: 24px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                <img height=\"20\" width=\"94\" src=\"https://images.ecomm.microsoft.com/cdn/mediahandler/azure-emails-templates/production/shared/images/templates/shared/microsoft-2x.png\" alt=\"Microsoft\" title=\"Microsoft\" class=\"logo-microsoft text-left\" style=\"outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 94px;max-width: 100%;clear: both;display: block;height: 20px\">\n            </th>\n<th class=\"expander\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;visibility: hidden;width: 0;padding: 0 !important\"></th></tr></tbody></table></th>\n        </tr></tbody></table>\n    </td></tr></tbody></table>\n</td></tr></tbody></table>\n\n\n\n\n\n\n\n\n<table role=\"presentation\" align=\"center\" class=\"container template-container section\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: inherit;mso-table-lspace: -1pt;mso-table-rspace: -1pt;background: #ffffff;width: 640px;Margin: 0 auto\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n    <table role=\"presentation\" class=\"wrapper outer-wrapper\" align=\"center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td class=\"wrapper-inner\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 6px;padding-right: 0;padding-bottom: 12px;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;mso-padding-top-alt: 6px;mso-padding-bottom-alt: 12px\">\n        <center style=\"width: 100%;min-width: 640px\">\n            <table role=\"presentation\" align=\"center\" class=\"row float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;Margin: 0 auto;float: none;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                <th class=\"small-12 large-12 columns first last\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 6px;padding-right: 24px;padding-bottom: 12px;padding-left: 24px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 616px;mso-padding-top-alt: 6px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                    <h1 style=\"font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;color: inherit;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 36px;word-wrap: normal;Margin-bottom: 16px;font-size: 28px;mso-line-height-alt: 36px;-webkit-hyphens: none;-moz-hyphens: none;-ms-hyphens: none;hyphens: none;letter-spacing: -.01em;-webkit-text-size-adjust: none\">A Vulnerability Assessment report is available for your @{items('For_each_server')?['resourceTypeName']} '@{items('For_each_server')?['resourceName']}'</h1>\n                </th>\n<th class=\"expander\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;visibility: hidden;width: 0;padding: 0 !important\"></th></tr></tbody></table></th>\n            </tr></tbody></table>\n            <table role=\"presentation\" align=\"center\" class=\"row float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;Margin: 0 auto;float: none;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                <th class=\"small-12 large-12 columns first last\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 24px;padding-bottom: 12px;padding-left: 24px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 616px;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                    <table role=\"presentation\" class=\"row scan-results collapse-tb\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                        <th class=\"max-width small-1 large-1 columns first\" valign=\"middle\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 6px;padding-right: 12px;padding-bottom: 12px;padding-left: 0 !important;vertical-align: middle;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 8.33333%;mso-padding-top-alt: 6px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                            <img height=\"37\" width=\"26\" src=\"https://images.ecomm.microsoft.com/cdn/mediahandler/azure-emails-templates/production/branch-master/ae-36587/images/templates/sql/integrationservices/vulnerabilityassessmentscan/va-badge.png\" alt=\"\" role=\"presentation\" style=\"outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 26px;max-width: 100%;clear: both;display: block;height: 37px\">\n                        </th></tr></tbody></table></th>\n                        <th class=\"small-11 large-11 columns last\" valign=\"middle\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 6px;padding-right: 0 !important;padding-bottom: 12px;padding-left: 12px;vertical-align: middle;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 91.66667%;mso-padding-top-alt: 6px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                            <h3 style=\"font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;color: inherit;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 39px;word-wrap: normal;Margin-bottom: 0px;font-size: 20px;mso-line-height-alt: 28px;-webkit-text-size-adjust: none;mso-line-height: 39px;mso-margin-bottom-alt: 0px\">Scan results</h3>\n                        </th></tr></tbody></table></th>\n                    </tr></tbody></table>\n                </th></tr></tbody></table></th>\n            </tr></tbody></table>\n            <table role=\"presentation\" align=\"center\" class=\"row float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;Margin: 0 auto;float: none;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                <th class=\"info-box small-12 large-12 columns first last\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 24px;padding-bottom: 12px;padding-left: 24px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 616px;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                    <table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\">\n                        <tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                            <td class=\"small-6 large-3 columns\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 12px;padding-bottom: 12px;padding-left: 12px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 25%;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\">\n                                <p class=\"va-label\" style=\"color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 22px;font-size: 12px;Margin-bottom: 5px;mso-line-height-alt: 22px;word-wrap: normal;-webkit-text-size-adjust: none;mso-margin-bottom-alt: 5px\">Databases scanned</p>\n                                <h3 style=\"font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;color: inherit;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 28px;word-wrap: normal;Margin-bottom: 16px;font-size: 36px;mso-line-height-alt: 28px;-webkit-text-size-adjust: none\">\n                                    @{items('For_each_server')?['totalDbs']}\n                                    <img height=\"20\" width=\"20\" src=\"https://images.ecomm.microsoft.com/cdn/mediahandler/azure-emails-templates/production/shared/images/templates/shared/images/icons/service-sql-database.png\" alt=\"\" role=\"presentation\" style=\"outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;clear: both;display: inline-block;height: 20px\">\n                                </h3>\n                            </td>\n                            <td class=\"small-6 large-3 columns\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 12px;padding-bottom: 12px;padding-left: 12px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 25%;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\">\n                                <p class=\"va-label\" style=\"color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 22px;font-size: 12px;Margin-bottom: 5px;mso-line-height-alt: 22px;word-wrap: normal;-webkit-text-size-adjust: none;mso-margin-bottom-alt: 5px\">Total failing checks</p>\n                                <h3 style=\"font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;color: inherit;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 28px;word-wrap: normal;Margin-bottom: 16px;font-size: 36px;mso-line-height-alt: 28px;-webkit-text-size-adjust: none\">\n                                    @{items('For_each_server')?['totalUnhealthyChecks']}\n                                        <img height=\"20\" width=\"20\" src=\"https://images.ecomm.microsoft.com/cdn/mediahandler/azure-emails-templates/production/shared/images/templates/shared/images/icons/status-failed.png\" alt=\"\" role=\"presentation\" style=\"outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;clear: both;display: inline-block;height: 20px\">\n                                </h3>\n                            </td>\n                            <td class=\"small-6 large-3 columns\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 12px;padding-bottom: 12px;padding-left: 12px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 25%;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\">\n                                <p class=\"va-label\" style=\"color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 22px;font-size: 12px;Margin-bottom: 5px;mso-line-height-alt: 22px;word-wrap: normal;-webkit-text-size-adjust: none;mso-margin-bottom-alt: 5px\">Total passing checks</p>\n                                <h3 style=\"font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;color: inherit;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 28px;word-wrap: normal;Margin-bottom: 16px;font-size: 36px;mso-line-height-alt: 28px;-webkit-text-size-adjust: none\">@{items('For_each_server')?['totalHealthyChecks']} <img height=\"27\" width=\"20\" src=\"https://images.ecomm.microsoft.com/cdn/mediahandler/azure-emails-templates/production/branch-master/ae-36587/images/templates/sql/integrationservices/vulnerabilityassessmentscan/va-badge.png\" alt=\"\" role=\"presentation\" style=\"outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;clear: both;display: inline-block;height: 27px\"></h3>\n                            </td>\n                            <td class=\"small-6 large-3 columns\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 12px;padding-bottom: 12px;padding-left: 12px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 25%;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\">\n                                    <p class=\"va-label\" style=\"color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 22px;font-size: 12px;Margin-bottom: 5px;mso-line-height-alt: 22px;word-wrap: normal;-webkit-text-size-adjust: none;mso-margin-bottom-alt: 5px\">Risk summary</p>\n                                    <table role=\"presentation\" class=\"va-bars\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\">\n                                        <tbody><tr valign=\"middle\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                            <td class=\"va-label\" colspan=\"2\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 20px;font-size: 12px;padding: 0px;mso-padding-alt: 0px;Margin-bottom: 5px;mso-margin-bottom-alt: 5px\">High risk</td>\n                                        </tr>\n                                        <tr valign=\"middle\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                            <td class=\"va-value\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\"><p style=\"color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 16px;font-size: 16px;Margin-bottom: 0;mso-line-height-alt: 22px;word-wrap: normal;-webkit-text-size-adjust: none;mso-margin-bottom-alt: 0;Margin-top: 5px;mso-margin-top-alt: 5px;Margin-right: 12px;mso-margin-right-alt: 12px\">@{items('For_each_server')?['high']}</p></td>\n                                                <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\">\n                                                    <table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\">\n                                                        <tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                                            <td class=\"bar-container\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 5px;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;mso-padding-top-alt: 5px;padding: 0px;mso-padding-alt: 0px;width: 100px\">\n                                                                <div class=\"bar-high\" style=\"background: #E81123\">&nbsp;</div>\n                                                            </td>\n                                                            <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\">&nbsp;</td>\n                                                        </tr>\n                                                    </tbody></table>\n                                                </td>\n                                        </tr>\n                                        <tr valign=\"middle\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                            <td class=\"va-label\" colspan=\"2\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 20px;font-size: 12px;padding: 0px;mso-padding-alt: 0px;Margin-bottom: 5px;mso-margin-bottom-alt: 5px\">Medium risk</td>\n                                        </tr>\n                                        <tr valign=\"middle\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                            <td class=\"va-value\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\"><p style=\"color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 16px;font-size: 16px;Margin-bottom: 0;mso-line-height-alt: 22px;word-wrap: normal;-webkit-text-size-adjust: none;mso-margin-bottom-alt: 0;Margin-top: 5px;mso-margin-top-alt: 5px;Margin-right: 12px;mso-margin-right-alt: 12px\">@{items('For_each_server')?['medium']}</p></td>\n                                                <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\">\n                                                    <table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\">\n                                                        <tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                                            <td class=\"bar-container\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 5px;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;mso-padding-top-alt: 5px;padding: 0px;mso-padding-alt: 0px;width: 75px\">\n                                                                <div class=\"bar-medium\" style=\"background: #FF8C00\">&nbsp;</div>\n                                                            </td>\n                                                            <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\">&nbsp;</td>\n                                                        </tr>\n                                                    </tbody></table>\n                                                </td>\n                                        </tr>\n                                        <tr valign=\"middle\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                            <td class=\"va-label\" colspan=\"2\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 20px;font-size: 12px;padding: 0px;mso-padding-alt: 0px;Margin-bottom: 5px;mso-margin-bottom-alt: 5px\">Low risk</td>\n                                        </tr>\n                                        <tr valign=\"middle\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                            <td class=\"va-value\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\"><p style=\"color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 16px;font-size: 16px;Margin-bottom: 0;mso-line-height-alt: 22px;word-wrap: normal;-webkit-text-size-adjust: none;mso-margin-bottom-alt: 0;Margin-top: 5px;mso-margin-top-alt: 5px;Margin-right: 12px;mso-margin-right-alt: 12px\">@{items('For_each_server')?['low']}</p></td>\n                                                <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\">\n                                                    <table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\">\n                                                        <tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                                            <td class=\"bar-container\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 5px;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;mso-padding-top-alt: 5px;padding: 0px;mso-padding-alt: 0px;width: 50px\">\n                                                                <div class=\"bar-low\" style=\"background: #0072C6\">&nbsp;</div>\n                                                            </td>\n                                                            <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;padding: 0px;mso-padding-alt: 0px\">&nbsp;</td>\n                                                        </tr>\n                                                    </tbody></table>\n                                                </td>\n                                        </tr>\n                                    </tbody></table>\n                            </td>\n                        </tr>\n                    </tbody></table>\n                </th>\n[Table:DatabaseResultTable]\n<th class=\"expander\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;visibility: hidden;width: 0;padding: 0 !important\"></th></tr></tbody></table></th>\n            </tr></tbody></table>\n            <table role=\"presentation\" align=\"center\" class=\"spacer float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%;Margin: 0 auto;float: none\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td height=\"16\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 16px;font-size: 16px;mso-line-height-rule: exactly\">&nbsp;</td></tr></tbody></table> \n            <table role=\"presentation\" align=\"center\" class=\"row float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;Margin: 0 auto;float: none;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                <th class=\"small-12 large-12 columns first last\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 24px;padding-bottom: 12px;padding-left: 24px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 616px;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                    <h3 style=\"font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;color: inherit;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 28px;word-wrap: normal;Margin-bottom: 16px;font-size: 20px;mso-line-height-alt: 28px;-webkit-text-size-adjust: none\">Scan details</h3>\n                    <table role=\"presentation\" class=\"card-table\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%;border-top: 2px solid #c9c9c9;border-bottom: 2px solid #c9c9c9\">\n                        <tbody>\n                        <tr class=\"border-top\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                            <th class=\"small-12 large-4\" style=\"word-wrap: normal;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 8px;padding-right: 0px;padding-bottom: 8px;padding-left: 0px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 22px;font-size: 16px;width: 33.33333%;mso-line-height-alt: 22px;-webkit-text-size-adjust: none;mso-padding-top-alt: 8px;mso-padding-bottom-alt: 8px;mso-padding-left-alt: 0px;mso-padding-right-alt: 0px;border-top: 1px solid #dedede\">Subscription ID</th>\n                            <th class=\"small-12 large-8\" style=\"word-wrap: normal;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 8px;padding-right: 0px;padding-bottom: 8px;padding-left: 0px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 22px;font-size: 16px;width: 66.66667%;mso-line-height-alt: 22px;-webkit-text-size-adjust: none;mso-padding-top-alt: 8px;mso-padding-bottom-alt: 8px;mso-padding-left-alt: 0px;mso-padding-right-alt: 0px;border-top: 1px solid #dedede\">@{items('For_each_subscription')?['subscriptionId']}</th>\n                        </tr>\n                            <tr class=\"border-top\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                <th class=\"small-12 large-4\" style=\"word-wrap: normal;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 8px;padding-right: 0px;padding-bottom: 8px;padding-left: 0px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 22px;font-size: 16px;width: 33.33333%;mso-line-height-alt: 22px;-webkit-text-size-adjust: none;mso-padding-top-alt: 8px;mso-padding-bottom-alt: 8px;mso-padding-left-alt: 0px;mso-padding-right-alt: 0px;border-top: 1px solid #dedede\">Subscription name</th>\n                                <th class=\"small-12 large-8\" style=\"word-wrap: normal;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 8px;padding-right: 0px;padding-bottom: 8px;padding-left: 0px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 22px;font-size: 16px;width: 66.66667%;mso-line-height-alt: 22px;-webkit-text-size-adjust: none;mso-padding-top-alt: 8px;mso-padding-bottom-alt: 8px;mso-padding-left-alt: 0px;mso-padding-right-alt: 0px;border-top: 1px solid #dedede\">@{items('For_each_subscription')?['displayName']}</th>\n                            </tr>\n                        <tr class=\"border-top\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                            <th class=\"small-12 large-4\" style=\"word-wrap: normal;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 8px;padding-right: 0px;padding-bottom: 8px;padding-left: 0px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 22px;font-size: 16px;width: 33.33333%;mso-line-height-alt: 22px;-webkit-text-size-adjust: none;mso-padding-top-alt: 8px;mso-padding-bottom-alt: 8px;mso-padding-left-alt: 0px;mso-padding-right-alt: 0px;border-top: 1px solid #dedede\">Resource</th>\n                            <th class=\"small-12 large-8\" style=\"word-wrap: normal;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 8px;padding-right: 0px;padding-bottom: 8px;padding-left: 0px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 22px;font-size: 16px;width: 66.66667%;mso-line-height-alt: 22px;-webkit-text-size-adjust: none;mso-padding-top-alt: 8px;mso-padding-bottom-alt: 8px;mso-padding-left-alt: 0px;mso-padding-right-alt: 0px;border-top: 1px solid #dedede\">@{items('For_each_server')?['resourceName']}</th>\n                        </tr>\n                    </tbody></table>\n                </th>\n<th class=\"expander\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;visibility: hidden;width: 0;padding: 0 !important\"></th></tr></tbody></table></th>\n            </tr></tbody></table>\n        </center>\n    </td></tr></tbody></table>\n</td></tr></tbody></table>\n<table role=\"presentation\" bgcolor=\"#eeeeee\" align=\"center\" class=\"container template-container section bg-medium-light-grey\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: inherit;mso-table-lspace: -1pt;mso-table-rspace: -1pt;background-color: #eeeeee !important;background: #eeeeee !important;width: 640px;Margin: 0 auto\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n    <table role=\"presentation\" class=\"wrapper outer-wrapper\" align=\"center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td class=\"wrapper-inner\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 0;padding-bottom: 12px;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\">\n        <center bgcolor=\"#eeeeee\" class=\"bg-medium-light-grey\" style=\"width: 100%;min-width: 640px;background-color: #eeeeee !important;background: #eeeeee !important\">\n            <table role=\"presentation\" align=\"center\" class=\"row float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;Margin: 0 auto;float: none;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                <th class=\"small-12 large-12 columns first last\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 24px;padding-bottom: 12px;padding-left: 24px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 616px;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                        <span class=\"text-mini\" style=\"font-size: 12px;line-height: 16px\">\n                            Why am I getting this mail? Your email address has been configured by the sender of this email to receive notifications on vulnerability assessment scans. The emails are automated via an Azure Logic App.\n                        </span>\n                </th>\n<th class=\"expander\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;visibility: hidden;width: 0;padding: 0 !important\"></th></tr></tbody></table></th>\n            </tr></tbody></table>\n        </center>\n    </td></tr></tbody></table>\n</td></tr></tbody></table>\n\n\n                                <table role=\"presentation\" dir=\"ltr\" align=\"center\" class=\"container footer-template\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: inherit;mso-table-lspace: -1pt;mso-table-rspace: -1pt;background: #ffffff;width: 640px;Margin: 0 auto\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                                    <table role=\"presentation\" class=\"wrapper outer-wrapper footer-wrapper\" align=\"center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%;background-color: #f3f2f1\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td class=\"wrapper-inner\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 0;padding-bottom: 12px;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\">\n                                        <center style=\"width: 100%;min-width: 640px\">\n                                            \n                                            \n\n    \n<table role=\"presentation\" class=\"row\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n    <th class=\"small-12 large-12 columns first last\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 24px;padding-bottom: 12px;padding-left: 24px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: auto;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">        \n        <p class=\"margin-bottom-0\" style=\"color: #605E5C;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 16px;font-size: 12px;Margin-bottom: 0px !important;mso-line-height-alt: 16px;word-wrap: normal;-webkit-text-size-adjust: none;mso-margin-bottom-alt: 0px !important\">\n\n            <a href=\"https://go.microsoft.com/fwlink/?LinkId=521839\"  title=\"Privacy Statement\" style=\"color: #605E5C;text-decoration: underline;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;padding: 0;text-align: left;line-height: 20px;display: inline-block;text-underline: single\">Privacy Statement</a>            \n        </p>\n        <p class=\"margin-top-8\" style=\"color: #605E5C;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;Margin: 0;text-align: left;line-height: 16px;font-size: 12px;Margin-bottom: 12px;mso-line-height-alt: 16px;word-wrap: normal;-webkit-text-size-adjust: none;Margin-top: 8px !important;mso-margin-top-alt: 8px !important\">Microsoft Corporation, <span class=\"no-wrap\" style=\"display: inline-block;word-break: keep-all\">One Microsoft Way, Redmond, WA 98052</span></p>\n        <img height=\"20\" width=\"94\" class=\"logo-microsoft\" src=\"https://images.ecomm.microsoft.com/cdn/mediahandler/azure-emails-templates/production/shared/images/templates/shared/images/logos/microsoft-logo-2x.png\" alt=\"Microsoft\" title=\"Microsoft\" style=\"outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 94px;max-width: 100%;clear: both;display: block;height: 20px\">\n    </th>\n<th class=\"expander\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;visibility: hidden;width: 0;padding: 0 !important\"></th></tr></tbody></table></th>\n</tr></tbody></table>\n\n                                        </center>\n                                    </td></tr></tbody></table>\n                                </td></tr></tbody></table>\n                            </td>\n                        </tr>\n                    </tbody></table>\n                </center>\n            </td>\n        </tr>\n    </tbody></table>\n</body></html>"
                    },
                    "For_each_database": {
                      "foreach": "@body('Parse_database_data')?['data']",
                      "actions": {
                        "Append_database_results_to_HTML_table": {
                          "runAfter": {},
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "DatabaseTable",
                            "value": "<tr class=\"text-group\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                                <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 1px #dedede;padding: 5px;mso-padding-alt: 5px\">@{items('For_each_database')?['resourceDisplayName']}</td>\n                                <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 1px #dedede;padding: 5px;mso-padding-alt: 5px\">@{items('For_each_database')?['scanResult']}</td>\n                                <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 1px #dedede;padding: 5px;mso-padding-alt: 5px\">\n                                    @{items('For_each_database')?['totalUnhealthyChecks']}\n                                    <img height=\"10\" width=\"10\" alt=\"\" class=\"icon\" src=\"https://images.ecomm.microsoft.com/cdn/mediahandler/azure-emails-templates/production/shared/images/templates/shared/images/icons/status-failed.png\" style=\"outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 10px;max-width: 100%;clear: both;display: inline-block;height: 10px\" role=\"presentation\">\n                                </td>\n                                <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 1px #dedede;padding: 5px;mso-padding-alt: 5px\">\n                                    @{items('For_each_database')?['totalHealthyChecks']}\n                                    <img height=\"14\" width=\"10\" alt=\"\" class=\"icon\" src=\"https://images.ecomm.microsoft.com/cdn/mediahandler/azure-emails-templates/production/branch-master/ae-36587/images/templates/sql/integrationservices/vulnerabilityassessmentscan/va-badge.png\" style=\"outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 10px;max-width: 100%;clear: both;display: inline-block;height: 14px\" role=\"presentation\">\n                                </td>\n                                <td style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 1px #dedede;padding: 5px;mso-padding-alt: 5px\">\n                                        <a href=\"@{items('For_each_database')?['detailsUrl']}\" style=\"color: #0078d4;text-decoration: none;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;padding: 0;text-align: left;line-height: 20px;text-underline: none;mso-text-underline: none\"> View results &gt;</a>\n                                </td>\n                            </tr>"
                          }
                        }
                      },
                      "runAfter": {
                        "Reset_database_HTML_table": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "For_each_recipient": {
                      "foreach": "@parameters('recipientEmails')",
                      "actions": {
                        "Send_an_email": {
                          "runAfter": {},
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "Body": "<p>@{outputs('Inject_database_HTML_table_into_email_template')}</p>",
                              "Importance": "Normal",
                              "Subject": "A Vulnerability Assessment report is available for your @{items('For_each_server')?['resourceTypeName']} '@{items('For_each_server')?['resourceName']}'",
                              "To": "@{items('For_each_recipient')}"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                          }
                        }
                      },
                      "runAfter": {
                        "Inject_database_HTML_table_into_email_template": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Get_databases": {
                      "runAfter": {},
                      "type": "Http",
                      "inputs": {
                        "authentication": {
                          "audience": "https://management.azure.com",
                          "type": "ManagedServiceIdentity"
                        },
                        "body": {
                          "options": {
                            "$skip": 0,
                            "$skipToken": "",
                            "$top": 100
                          },
                          "query": "securityresources \r\n            | where type =~ \"microsoft.security/assessments/subassessments\"\r\n            | extend assessmentKey = extract(@\"providers/Microsoft.Security/assessments/([^/]*)\", 1, id)\r\n            | extend resourceIdTemp = iff(properties.resourceDetails.id != \"\", properties.resourceDetails.id, extract(\"(.+)/providers/Microsoft.Security\", 1, id))\r\n            | extend resourceId = iff(properties.resourceDetails.source =~ \"OnPremiseSql\", strcat(resourceIdTemp, \"/servers/\", properties.resourceDetails.serverName, \"/databases/\" , properties.resourceDetails.databaseName), resourceIdTemp)\r\n            | extend resourceName = extract(@\"(.+)/(.+)\", 2, resourceId)\r\n            | extend resourceIdentifier = iff(properties.resourceDetails.source =~ \"OnPremiseSql\", tostring(properties.resourceDetails.sourceComputerId), extract(@\"(.+)/servers/\", 1, resourceId))\r\n            | extend resourceIdentifier = tolower(resourceIdentifier)\r\n            | extend status = tostring(properties.status.code), severity=tostring(properties.status.severity)\r\n            | where tolower(status) != \"notapplicable\"\r\n            | where assessmentKey in (\"82e20e14-edc5-4373-bfc4-f13121257c37\", \"f97aa83c-9b63-4f9a-99f6-b22c4398f936\")\r\n            | extend resourceDisplayName = iff(assessmentKey =~ \"82e20e14-edc5-4373-bfc4-f13121257c37\", resourceName, strcat(resourceName, \" (\", extract(@\".+/servers/(.+?)/\", 1, resourceId) ,\")\"))\r\n            | where id startswith \"@{items('For_each_server')?['resourceId']}\"\r\n            | extend bladeType = iff(assessmentKey =~ \"82e20e14-edc5-4373-bfc4-f13121257c37\", \"SqlVaServersSubAssessmentsBlade\", \"SqlVmsSubAssessmentsBlade\")\r\n            | extend detailsUrl = strcat(\"https://portal.azure.com/\", tenantId, \"#view/Microsoft_Azure_Security_AzureDefenderForData/\", bladeType,\"/assessmentKey/\", assessmentKey, \"/resourceId/\", url_encode(resourceId), \"/resourceName/\", resourceName)\r\n            | summarize totalChecksBySeverity=count(severity), timeGenerated=max(todatetime(properties.timeGenerated)) by subscriptionId, resourceName, resourceId, status, severity, detailsUrl, resourceDisplayName\r\n            | summarize high=sumif(totalChecksBySeverity, severity =~ \"high\" and status =~ \"unhealthy\"), medium=sumif(totalChecksBySeverity, severity =~ \"medium\" and status =~ \"unhealthy\"), low=sumif(totalChecksBySeverity, severity =~ \"low\" and status =~ \"unhealthy\"), totalUnhealthyChecks=sumif(totalChecksBySeverity, status =~ \"unhealthy\"), totalChecks=sum(totalChecksBySeverity) by subscriptionId, resourceName, resourceId, timeGenerated, detailsUrl, resourceDisplayName\r\n            | extend totalHealthyChecks = totalChecks-totalUnhealthyChecks\r\n            | extend scanResult = iff(totalUnhealthyChecks > 0, \"Findings\", \"No findings\")\r\n            | order by totalUnhealthyChecks, resourceName \r\n",
                          "subscriptions": [
                            "@{items('For_each_subscription')?['subscriptionId']}"
                          ]
                        },
                        "method": "POST",
                        "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01"
                      }
                    },
                    "Inject_database_HTML_table_into_email_template": {
                      "runAfter": {
                        "Append_closing_tags_to_HTML_table": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "@replace(outputs('Compose_email_template'),'[Table:DatabaseResultTable]', variables('DatabaseTable'))"
                    },
                    "Parse_database_data": {
                      "runAfter": {
                        "Get_databases": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_databases')",
                        "schema": {
                          "properties": {
                            "data": {
                              "items": {
                                "properties": {
                                  "detailsUrl": {
                                    "type": "string"
                                  },
                                  "resourceDisplayName": {
                                    "type": "string"
                                  },
                                  "resourceId": {
                                    "type": "string"
                                  },
                                  "resourceName": {
                                    "type": "string"
                                  },
                                  "scanResult": {
                                    "type": "string"
                                  },
                                  "subscriptionId": {
                                    "type": "string"
                                  },
                                  "timeGenerated": {
                                    "type": "string"
                                  },
                                  "totalChecks": {
                                    "type": "integer"
                                  },
                                  "totalHealthyChecks": {
                                    "type": "integer"
                                  },
                                  "totalUnhealthyChecks": {
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Reset_database_HTML_table": {
                      "runAfter": {
                        "Compose_email_template": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DatabaseTable",
                        "value": "<th class=\"expander\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px;visibility: hidden;width: 0;padding: 0 !important\"></th></tr></tbody></table></th>\n            </tr></tbody></table>\n            <table role=\"presentation\" align=\"center\" class=\"spacer float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%;Margin: 0 auto;float: none\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><td height=\"16\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 16px;font-size: 16px;mso-line-height-rule: exactly\">&nbsp;</td></tr></tbody></table> \n            <table role=\"presentation\" align=\"center\" class=\"row float-center\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: center;mso-table-lspace: -1pt;mso-table-rspace: -1pt;padding: 0;width: 100%;position: relative;Margin: 0 auto;float: none;display: table\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                <th class=\"small-12 large-12 columns first last\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 12px;padding-right: 24px;padding-bottom: 12px;padding-left: 24px;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0 auto;line-height: 20px;font-size: 14px;width: 616px;mso-padding-top-alt: 12px;mso-padding-bottom-alt: 12px\"><table role=\"presentation\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;width: 100%\"><tbody><tr style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\"><th style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 400;Margin: 0;line-height: 20px;font-size: 14px\">\n                    <table role=\"presentation\" class=\"styled-table-alt table-cols-5\" style=\"border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;mso-table-lspace: -1pt;mso-table-rspace: -1pt;max-width: 592px;width: 100%\">\n                        <tbody><tr class=\"heading-group\" style=\"padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left\">\n                            <th valign=\"bottom\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 2px #c9c9c9;padding: 5px;mso-padding-alt: 5px\">Database</th>\n                            <th valign=\"bottom\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 2px #c9c9c9;padding: 5px;mso-padding-alt: 5px\">Scan result</th>\n                            <th valign=\"bottom\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 2px #c9c9c9;padding: 5px;mso-padding-alt: 5px\">Failing checks</th>\n                            <th valign=\"bottom\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 2px #c9c9c9;padding: 5px;mso-padding-alt: 5px\">Passing checks</th>\n                            <th valign=\"bottom\" style=\"word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;vertical-align: top;text-align: left;color: #11100f;font-family: Segoe UI Semibold, SegoeUISemibold, Segoe UI, SegoeUI, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;font-weight: 600;Margin: 0;line-height: 20px;font-size: 14px;max-width: 88.4px !important;width: 20%;border-bottom: solid 2px #c9c9c9;padding: 5px;mso-padding-alt: 5px\">Details</th>\n                        </tr>"
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_server_data": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Get_SQL_servers": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "audience": "https://management.azure.com",
                      "type": "ManagedServiceIdentity"
                    },
                    "body": {
                      "options": {
                        "$skip": 0,
                        "$skipToken": "",
                        "$top": 1000
                      },
                      "query": "securityresources \r\n            | where type =~ \"microsoft.security/assessments/subassessments\"\r\n            | extend assessmentKey = extract(@\"providers/Microsoft.Security/assessments/([^/]*)\", 1, id)\r\n            | extend assessmentId = tolower(extract(@\"(.+)/subassessments\", 1, id))\r\n            | extend resourceId = iff(properties.resourceDetails.Source =~ \"azure\", properties.resourceDetails.Id, iff(properties.resourceDetails.Source =~ \"aws\", properties.resourceDetails.AwsResourceId, extract(\"^(.+)/providers/Microsoft.Security/assessments/.+$\",1,id)))\r\n            | extend resourceName = extract(@\"(.+)/(.+)\", 2, resourceId)\r\n            | extend childResourceIdTemp = iff(properties.resourceDetails.id != \"\", properties.resourceDetails.id, extract(\"(.+)/providers/Microsoft.Security\", 1, id))\r\n            | extend childResourceId = iff(properties.resourceDetails.source =~ \"OnPremiseSql\", strcat(childResourceIdTemp, \"/servers/\", properties.resourceDetails.serverName, \"/databases/\" , properties.resourceDetails.databaseName), childResourceIdTemp)\r\n            | extend childResourceNameTemp = extract_all(@\"/servers/(.+)/databases/(.+)\", childResourceId)\r\n            | extend childResourceName = strcat(childResourceNameTemp[0][0], \"/\", childResourceNameTemp[0][1])\r\n            | extend regex_resourceId = extract_all(@\"/providers/([^/]+)(?:/([^/]+)/[^/]+(?:/([^/]+)/[^/]+)?)?/([^/]+)/[^/]+$\", resourceId)\r\n            | extend providerName = regex_resourceId[0][0],\r\n                mainType = iff(regex_resourceId[0][1] !~ \"\", strcat(\"/\",regex_resourceId[0][1]), \"\"),\r\n                extendedType = iff(regex_resourceId[0][2] !~ \"\", strcat(\"/\",regex_resourceId[0][2]), \"\"),\r\n                extendedSpecificType = iff(regex_resourceId[0][3] !~ \"\", strcat(\"/\",regex_resourceId[0][3]), \"\")\r\n            | extend type = strcat(providerName, mainType, extendedType, extendedSpecificType)\r\n            | extend status = tostring(properties.status.code), severity=tostring(properties.status.severity)\r\n            | where array_length(parse_json('@{parameters('serverList')}')) == 0 or resourceName in~ (parse_json('@{parameters('serverList')}'))\r\n            | where assessmentKey in (\"82e20e14-edc5-4373-bfc4-f13121257c37\", \"f97aa83c-9b63-4f9a-99f6-b22c4398f936\")\r\n            | extend resourceTypeName = iff(assessmentKey == \"82e20e14-edc5-4373-bfc4-f13121257c37\", \"server\", \"machine\")\r\n            | summarize totalChecksBySeverity=count(severity) by subscriptionId, resourceName, resourceId, childResourceName, childResourceId, status, severity, type, assessmentId, resourceTypeName\r\n            | summarize high=sumif(totalChecksBySeverity, severity =~ \"high\" and status =~ \"unhealthy\"), medium=sumif(totalChecksBySeverity, severity =~ \"medium\" and status =~ \"unhealthy\"), low=sumif(totalChecksBySeverity, severity =~ \"low\" and status =~ \"unhealthy\"), totalUnhealthyChecks=sumif(totalChecksBySeverity, status =~ \"unhealthy\"), totalHealthyChecks=sumif(totalChecksBySeverity, status =~ \"healthy\"), totalDbs=dcount(childResourceName) by subscriptionId, resourceName, resourceId, type, assessmentId, resourceTypeName\r\n            | order by high, medium, low, resourceName",
                      "subscriptions": [
                        "@{items('For_each_subscription')?['subscriptionId']}"
                      ]
                    },
                    "method": "POST",
                    "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01"
                  }
                },
                "Parse_server_data": {
                  "runAfter": {
                    "Get_SQL_servers": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Get_SQL_servers')",
                    "schema": {
                      "properties": {
                        "data": {
                          "items": {
                            "properties": {
                              "assessmentId": {
                                "type": "string"
                              },
                              "high": {
                                "type": "integer"
                              },
                              "low": {
                                "type": "integer"
                              },
                              "medium": {
                                "type": "integer"
                              },
                              "resourceId": {
                                "type": "string"
                              },
                              "resourceName": {
                                "type": "string"
                              },
                              "resourceTypeName": {
                                "type": "string"
                              },
                              "subscriptionId": {
                                "type": "string"
                              },
                              "totalDbs": {
                                "type": "integer"
                              },
                              "totalHealthyChecks": {
                                "type": "integer"
                              },
                              "totalUnhealthyChecks": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_variable": {
              "runAfter": {
                "List_subscriptions": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DatabaseTable",
                    "type": "string"
                  }
                ]
              }
            },
            "List_subscriptions": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['arm']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/subscriptions",
                "queries": {
                  "x-ms-api-version": "2016-06-01"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "arm": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('armConnectionName'))]",
                "connectionName": "[variables('armConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ]
}
